@model BECategoryViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.IsAdmin = true; // UserManager.GetUserName(User) == "administrator";
    string isHidden = ViewBag.IsAdmin ? string.Empty : "hidden";
}

@{
    var types = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.CateType>();
    string img = Model != null ? Model.Image : "http://placehold.it/200x200";
}

<div class="card">
    <div class="card-header">
        Info
    </div>
    <div class="card-body">

        <div class="form-group">
            <label asp-for="CreatedDateTime" class="control-label"></label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><span class="oi oi-calendar"></span></span>
                </div>
                <input asp-for="CreatedDateTime" type="text" class="form-control" readonly />
            </div>
            <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CreatedBy" class="control-label"></label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><span class="oi oi-person"></span></span>
                </div>
                <input asp-for="CreatedBy" class="form-control" readonly />
            </div>
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        Page Type
    </div>
    <div class="card-body">

        @*<select asp-for="Type" class="form-control" asp-items="@types"></select>
        <span asp-validation-for="Type" class="text-danger"></span>*@

        @{
            foreach (var type in types)
            {

        <div class="custom-control custom-radio">
            <input asp-for="Type" type="radio" value="@type.Value" class="custom-control-input" id="pageType_@type.Value" />
            <label class="custom-control-label" for="pageType_@type.Value">@type.Text</label>
        </div>
            }
        }
    </div>
</div>

<div class="card">
    <div class="card-header">
        Languages
    </div>
    <div class="card-body">

        @for (int i = 0; i < Model.ListSupportedCulture.Count; i++)
        {


        <div class="custom-control custom-checkbox">
            <input type="checkbox" asp-for="@Model.ListSupportedCulture[i].IsSupported" class="custom-control-input" required="" id="checkboxCulture_@Model.ListSupportedCulture[i].Specificulture">
            <input type="hidden" asp-for="@Model.ListSupportedCulture[i].Specificulture" />
            <label class="custom-control-label" for="checkboxCulture_@Model.ListSupportedCulture[i].Specificulture">
                <i class="flag-icon h5 @Model.ListSupportedCulture[i].Icon" style="margin-right: 5px;margin-left: 10px;"></i> @Model.ListSupportedCulture[i].Specificulture
            </label>
        </div>

}

        <input type="hidden" asp-for="Specificulture" />

        </div>
</div>


<div class="card">
    <div class="card-header">
        Feature image
    </div>
    <div class="card-body">

        <div class="form-group">
            @*<label asp-for="Image" class="control-label"></label>*@
            <span asp-validation-for="Image" class="text-danger"></span>
            <label class="custom-file">
                <input type="hidden" value="Pages/@Model.SeoTitle" class="folder-val" />
                <input type="file" name="pic" class="custom-file-input">
                <img src="@img" name="pic" class="custom-file-img " accept="image/*" width="100%" />
                <input type="text" asp-for="Image" class="form-control custom-file-val">
                <span class="custom-file-control">Browse</span>
            </label>
        </div>
    </div>
</div>

@await Html.PartialAsync("EditableSides/_EditableSide_Actions")

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Publish</h3>
        <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">



        <div class="form-group row @isHidden">
            <div class="col-xs-4">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="col-xs-4">
                <label asp-for="Views" class="control-label"></label>
                <input asp-for="Views" class="form-control" />
                <span asp-validation-for="Views" class="text-danger"></span>
            </div>
            <div class="col-xs-4">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Icon" class="control-label"></label>
            <input asp-for="Icon" class="form-control" />
            <span asp-validation-for="Icon" class="text-danger"></span>
        </div>
        <div class="form-group">

            <label class="custom-control custom-checkbox d-block">
                <input type="checkbox" asp-for="IsDeleted" class="custom-control-input" required="">
                <input type="hidden" asp-for="IsDeleted" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                    Is Deleted?
                </span>
            </label>
        </div>

    </div>
    <!-- /.box-body -->

</div>

