@using Swastika.Common;
@using TTS.Lib.ViewModels;
@using TTS.Lib.Repositories;
@{
    string culture = ViewBag.culture;
    var cates = SWCategoryRepository<SWCategoryWidget>.Instance.GetListWidgetCategory
                (Constants.CateType.List, culture
                );
}
<div class="widget categories">
    <h3>@LocalizerService.GetLocalString("Categories", culture)</h3>
    <div class="row">
        <div class="col-sm-6">
            <ul class="blog_category">
                @foreach (var cate in cates)
                {
                    <li><a
                           asp-route-culture="@ViewBag.culture" asp-controller="Home"
                           asp-action="Home" asp-route-pageName="@cate.Seotitle">
                        @cate.Title <span class="badge">@cate.TotalArticle</span></a></li>
                }
            </ul>
        </div>
    </div>
</div><!--/.categories-->