@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using System.Globalization
@using Swastika.IO.Cms.Lib.ViewModels;
@using Swastika.IO.Cms.Lib.Repositories;
@inject SignInManager<Swastika.Identity.Models.ApplicationUser> SignInManager
@inject UserManager<Swastika.Identity.Models.ApplicationUser> UserManager
@{
    string culture = ViewBag.culture;

    var getSocialModule = Swastika.IO.Cms.Lib.ViewModels.ModuleWithDataViewModel.Repository.GetSingleModel
        (m => m.Name == "Socials"
        && m.Specificulture == ViewContext.RouteData.Values["culture"].ToString());
    ModuleWithDataViewModel socialModule = getSocialModule.Data ?? null;
    var getTopCates = CategoryListItemViewModel.Repository.GetModelListBy
(c => c.Specificulture == culture && c.SiocCategoryPosition.Count(
   p => p.PositionId == (int)Swastika.IO.Cms.Lib.SWCmsConstants.CatePosition.Top) > 0

);
    var topCates = getTopCates.Data ?? new List<CategoryListItemViewModel>();
}
<header id="header">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <div class="top-number">
                        <p>
                        <span>
                            <i class="fa fa-phone-square"></i>  
                            @LocalizerService.GetLocalString("Phone", ViewBag.culture)
                            </span>
                            <!--
                            <a href="mailto:@LocalizerService.GetLocalString("Email", ViewBag.culture)" style="color: #fff;"><i class="fa fa-envelope-square"></i>  @LocalizerService.GetLocalString("Email", ViewBag.culture)</a> 
                            -->
                        </p>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="social">

                        @if (socialModule != null)
                        {
                            await Html.RenderPartialAsync(socialModule.Template, socialModule);
                        }
                        @Html.Partial("_PartialSelectLanguage")


                        <!-- <div class="search">
                            <form role="form" asp-controller="Home" asp-action="Search">
                                <input type="text" name="keyword" class="search-form" autocomplete="off" placeholder="Search">
                                <i class="fa fa-search"></i>
                            </form>
                        </div> -->
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </div><!--/.top-bar-->

    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="home" asp-action="Index" asp-route-culture="@ViewBag.culture"><img src="@LocalizerService.GetLocalString("Logo",ViewBag.culture)" alt="logo"></a>
            </div>
<style>
.navbar-nav > li {
    margin-left: 4px;
}
</style>
            <div class="collapse navbar-collapse navbar-right">

                <ul class="nav navbar-nav">

                    @foreach (var cate in topCates.OrderBy(c=>c.Priority))
                    {
                        string action = cate.Type.ToString();
                        switch (cate.Type)
                        {
                            case Swastika.IO.Cms.Lib.SWCmsConstants.CateType.Blank:
                                string pageNames = string.Join(",", cate.Childs.Select(c => c.SeoName).ToList());
                                <li is-active-menu asp-controllers="Home" asp-action=",Home" asp-route-pagenames="@pageNames" pages="@pageNames" class="dropdown">
                                    <a href="@cate.StaticUrl" target="_blank" class="dropdown-hover-toggle">
                                        @cate.Title <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-hover-menu dropdown-menu">
                                        @foreach (var childNav in cate.Childs)
                                        {
                                            action = childNav.Type.ToString();
                                            <li is-active-menu asp-controllers="Home" asp-action=",Home" asp-route-pagenames="@childNav.SeoName">
                                                <a asp-route-culture="@ViewBag.culture" asp-controller="Home" asp-action="Home" asp-route-pageName="@childNav.SeoName">@childNav.Title</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                break;
                            case Swastika.IO.Cms.Lib.SWCmsConstants.CateType.Home:
                                <li is-active-menu asp-controllers="Home" asp-action="Home" asp-route-pagenames=",@cate.SeoName">
                                    @*<a href="@href">@cate.Title</a>*@
                                    <a asp-route-culture="@ViewBag.culture" asp-controller="Home" asp-action="Home" asp-route-pageName="">@cate.Title</a>
                                </li>
                                break;
                            case Swastika.IO.Cms.Lib.SWCmsConstants.CateType.StaticUrl:
                                <li>
                                    <a href="@cate.StaticUrl">@cate.Title</a>
                                </li>
                                break;
                            default:
                                <li is-active-menu asp-controllers="Home" asp-action="Home" asp-route-pagenames="@cate.SeoName">
                                    @*<a href="@href">@cate.Title</a>*@
                                    <a asp-route-culture="@ViewBag.culture" asp-controller="Home" asp-action="Home" asp-route-pageName="@cate.SeoName">@cate.Title</a>
                                </li>
                                break;
                        }

                    }

                </ul>

            </div>
        </div><!--/.container-->
    </nav><!--/nav-->

</header><!--/header-->















