@using Swastika.Domain.Core.ViewModels;
@model List<Swastika.Cms.Lib.ViewModels.FileViewModel>
@{
    ViewData["Title"] = "Blank File";
    ViewData["Description"] = "Manage site navigations and menus";
    string[] imgExts = new string[] { ".jpg", ".jpeg", ".gif", ".png" };
    string[] txtExts = new string[] { ".js", ".css", ".scss", ".txt" };
    var subFolders = ViewData["directories"] as List<string>;
    string folder = ViewBag.folder;

    string prvFolder = string.Empty;
    if (!string.IsNullOrEmpty(folder))
    {
        int idx = folder.LastIndexOf('/');
        prvFolder = idx > 0 ? folder.Substring(0, idx) : string.Empty;
    }


    string prvUrl = Url.RouteUrl("File", new { culture = ViewBag.culture, folder = prvFolder });
}

<div class="content container-fluid">
    <div class="row">
        <div class="col-lg-12">
        </div>

    </div>
    <div class="row">
        <div class="col">
            <input type="hidden" id="folder" name="folder" value="@folder" />
            <input type="file" name="file" id="file" class="btn" />
            <button type="button" onclick="this.form.submit()" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Save</button>
    
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm table-hover table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            Name
                        </th>
                        <th scope="col">
                            FullPath
                        </th>
                        <th scope="col">
                            Preview
                        </th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @if (!string.IsNullOrEmpty(folder))
    {
                <tr>
                    <td>
                        <span class="oi oi-arrow-thick-left"></span> <strong><a href="@prvUrl" class="">Back...</a></strong>
                    </td>
                    <td colspan="3"></td>
                </tr>
}
                    @foreach (var path in subFolders)
    {
        string dirPath = string.Format("{0}/{1}", folder, path);
        string href = Url.RouteUrl("File", new { culture = ViewBag.culture, folder = dirPath });
                <tr>
                    <td>
                        <span class="oi oi-folder"></span> <strong><a href="@href" class="">@path</a></strong>
</td>
                    <td colspan="3"></td>
                </tr>
}
                    @foreach (var item in Model)
    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Filename)
                    </td>
                    <td>
                        <input value="@item.FullPath" onclick="this.select()" class="form-control form-control-sm" readonly />
                    </td>
                    <td>

                        @if (imgExts.Contains(item.Extension))
        {
                <img width="50" src="@item.FullPath" />
}
else
{
                <span>-</span>
}
                        @*else if (txtExts.Contains(item.Extension))
            {
                <div class="container-code-editor">
                    <div class="form-control code-editor">@item.Content</div>
                </div>
            }*@
                    </td>

                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                            <a asp-action="Edit"
                               asp-route-name="@item.Filename"
                               asp-route-ext="@item.Extension"
                               asp-route-folder="@item.FileFolder"
                               class="btn btn-sm btn-warning d-inline-block "><span class="oi oi-pencil"></span></a>
                            <a target="_blank" href="@item.FullPath" class="btn btn-sm btn-info"> <span class="oi oi-eye"></span> </a>
                            <a asp-action="Delete"
                               asp-route-name="@item.Filename"
                               asp-route-ext="@item.Extension"
                               asp-route-folder="@item.FileFolder" class="btn btn-sm btn-danger d-inline-block" data-popout="true" data-toggle="confirmation" data-singleton="true"><span class="oi oi-x"></span></a>
                        </div>
                    </td>
                </tr>
}
                </tbody>
            </table>
            <!-- /.table -->
        </div>

    </div>
</div>
