@using Swastika.IO.Domain.Core.ViewModels;
@model List<Swastika.Cms.Lib.ViewModels.FileViewModel>
@{
    ViewData["Title"] = "Blank File";
    ViewData["Description"] = "Manage site navigations and menus";
    var lst = new SelectList(Enum.GetNames(typeof(Swastika.Cms.Lib.SWCmsConstants.FileFolderEnum)).ToList());
    string folder = ViewBag.folder;
}

<div class="content container-fluid">
    <form asp-action="">               
        <div class="row">
            <div class="col-lg-10">
                <div class="col-md-1">
                    <label class="col-lg-2">Folder </label>
                </div>
                <div class="col-lg-4">
                    <select asp-for="@folder" class="form-control" asp-items="@lst" onchange="submit()"></select>
                </div>
            </div>
            @*<div class="col-lg-2" style="margin-bottom: 10px;">
                <a asp-action="EditFile" asp-route-folder="@folder" asp-route-name="" class="btn btn-success btn-block"> <i class="fa fa-plus"></i> Add</a>
            </div>*@
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="col-sm-2">
                                        Folder
                                    </th>
                                    <th class="col-sm-2">
                                        Name
                                    </th>
                                    <th>
                                        FullPath
                                    </th>
                                    <th class="col-sm-4">
                                        Content
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                            {
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileFolder)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Filename)
                                </td>
                                <td>
                                    @item.FullPath
                                </td>
                                <td>
                                    @switch (folder)
                                        {
                                            case "Images":
                                        <img width="50px" src="@item.FullPath" />
                                                break;
                                            default:
                                        <div class="form-control code-editor" style="height:150px;">@item.Content</div>
                                                break;
                                        }

                                </td>
                                <td>

                                <td>
                                    <div class="btn-block">
                                        <a asp-action="Edit"
                                           asp-route-folder="@item.FileFolder"
                                           asp-route-name="@item.Filename"
                                           asp-route-ext="@item.Extension"
                                           class="btn btn-sm btn-warning d-inline-block "><i class="fa fa-pencil"></i></a>
                                        @*<a asp-area="" asp-controller="Home" asp-action="ArticleDetails" asp-route-id="@item.Id" asp-route-SeoTitle="@item.SeoTitle"
                                        target="_blank" class="btn btn-sm btn-info"> <i class="fa fa-eye"></i> </a>*@
                                        <a asp-action="Delete"
                                           asp-route-folder="@item.FileFolder"
                                           asp-route-ext="@item.Extension"
                                           asp-route-name="@item.Filename" class="btn btn-sm btn-danger d-inline-block" data-popout="true" data-toggle="confirmation" data-singleton="true"><i class="fa fa-remove"></i></a>
                                    </div>
                                </td>
                            </tr>
                            }
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                </div>
            </div>

        </div>
</form>
</div>
