@using Swastika.IO.Domain.Core.ViewModels;
@model List<Swastika.Cms.Lib.ViewModels.FileViewModel>
@{
    ViewData["Title"] = "Blank File";
    ViewData["Description"] = "Manage site navigations and menus";
    string[] imgExts = new string[] { ".jpg", ".jpeg", ".gif", ".png" };
    string[] txtExts = new string[] { ".js", ".css", ".scss", ".txt" };
    var subFolders = ViewData["directories"] as List<string>;
    string folder = ViewBag.folder;

    string prvFolder = string.Empty;
    if (!string.IsNullOrEmpty(folder))
    {
        int idx = folder.LastIndexOf('/');
        prvFolder = idx > 0 ? folder.Substring(0, idx) : string.Empty;
    }


    string prvUrl = Url.RouteUrl("File", new { culture = ViewBag.culture, folder = prvFolder });
}

<div class="content container-fluid">
    <form asp-action="">
        @if (!string.IsNullOrEmpty(folder))
        {
            <div class="row">

                <div class="col-lg-10">

                    <a href="@prvUrl"><i class="mi mi-Folder"></i> Back</a>
                </div>
                @*<div class="col-lg-2" style="margin-bottom: 10px;">
                        <a asp-action="EditFile" asp-route-folder="@folder" asp-route-name="" class="btn btn-success btn-block"> <i class="fa fa-plus"></i> Add</a>
                    </div>*@
            </div>
        }
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="col-sm-2">
                                        Name
                                    </th>
                                    <th>
                                        FullPath
                                    </th>
                                    <th class="col-sm-4">
                                        Content
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var path in subFolders)
                                {
                                    string dirPath = string.Format("{0}/{1}", folder, path);
                                    string href = Url.RouteUrl("File", new { culture = ViewBag.culture, folder = dirPath });
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a href="@href"><i class="mi mi-Folder"></i> @path</a>
                                        </td>
                                        <td colspan="4"></td>
                                    </tr>
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Filename)
                                        </td>
                                        <td>
                                            <input value="@item.FullPath" onclick="this.select()" />
                                        </td>
                                        <td>
                                            @if (imgExts.Contains(item.Extension))
                                            {
                                                <img width="50px" src="@item.FullPath" />
                                            }
                                            else if (txtExts.Contains(item.Extension))
                                            {
                                                <div class="form-control code-editor" style="height:150px;">@item.Content</div>
                                            }
                                        </td>
                                        <td>

                                        <td>
                                            <div class="btn-block">
                                                <a asp-action="Edit"                                                   
                                                   asp-route-name="@item.Filename"
                                                   asp-route-ext="@item.Extension"
                                                   asp-route-folder="@item.FileFolder"
                                                   class="btn btn-sm btn-warning d-inline-block "><i class="fa fa-pencil"></i></a>
                                                @*<a asp-area="" asp-controller="Home" asp-action="ArticleDetails" asp-route-id="@item.Id" asp-route-SeoTitle="@item.SeoTitle"
                                                    target="_blank" class="btn btn-sm btn-info"> <i class="fa fa-eye"></i> </a>*@
                                                <a asp-action="Delete"
                                                   asp-route-name="@item.Filename"
                                                   asp-route-ext="@item.Extension"
                                                   asp-route-folder="@item.FileFolder" class="btn btn-sm btn-danger d-inline-block" data-popout="true" data-toggle="confirmation" data-singleton="true"><i class="fa fa-remove"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
