@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Swastika.Cms.Lib.ViewModels.FrontEnd.FEModuleViewModel

@if (Model != null && Model.Data.TotalItems > 0)
{

    <section id="contact-info">
        <div class="center hidden">
            <h2>@Model.Title</h2>
            <p class="lead">@Model.Description</p>
        </div>
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <a href="https://www.google.com/maps?ll=10.774747,106.703451&z=16&t=m&hl=en-US&gl=US&mapclient=embed&q=68+Nguy%C3%AA%CC%83n+Hu%C3%AA%CC%A3+B%E1%BA%BFn+Ngh%C3%A9+Qu%E1%BA%ADn+1+H%E1%BB%93+Ch%C3%AD+Minh" target="blank">
                        <div class="gmap">
                            @*Html.Raw(@Model.Data.Items[0].GetStringValue("Gmap"))*@
                            <img src="@Model.Data.Items[0].GetStringValue("Gmap")" width="100%"/>
                        </div>
                        </a>
                    </div>
                    <div class="col-sm-6 map-content">
                        <ul class="row">
                            @foreach (var item in Model.Data.Items)
                            {
                                <li class="col-sm-12">
                                    <address>
                                        <h5>@item.GetStringValue("Title")</h5>
                                        <p><i class="fa fa-home"></i> @item.GetStringValue("Address")</p>
                                        <p><i class="fa fa-phone-square"></i> @item.GetStringValue("Phone")</p>
                                        <p><i class="fa fa-envelope-square"></i> @item.GetStringValue("Email")</p>
                                        <p><i class="fa fa-skype"></i> @item.GetStringValue("Skype")</p>
                                        <p><i class="fa fa-facebook-square"></i> @item.GetStringValue("Facebook")</p>
                                        <p><i class="fa fa-globe"></i> @item.GetStringValue("Website")</p>
                                    </address>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <!--/.row-->
            </div>
        </div>
    </section><!--/#contact info-->
}























