@model List<Swastika.Domain.Core.Models.SupportedCulture>
<div class="card">
    <div class="card-header">
        Languages
    </div>
    <div class="card-body">
        <div class="form-group">
            @for (int i = 0; i < Model.Count; i++)
            {
                string prefix = string.Format("ListSupportedCulture[{0}]", i);
                <span class="switch switch-sm">
                    <input type="hidden" asp-for="@Model[i].Specificulture" name="@(prefix).Specificulture" />
                    <input type="hidden" asp-for="@Model[i].Icon" name="@(prefix).Icon" />
                    <input type="checkbox" asp-for="@Model[i].IsSupported" class="switch" required=""
                           name="@(prefix).IsSupported">
                    <label class="switch" asp-for="@Model[i].IsSupported">
                        <i class="flag-icon @Model[i].Icon" style=""></i> @Model[i].FullName
                    </label>
                </span>
            }
        </div>
    </div>
</div>

@*<div class="custom-control custom-checkbox">
        <input type="checkbox" asp-for="@Model[i].IsSupported" class="custom-control-input" required=""
               id="ListSupportedCulture_@Model[i].Specificulture">
        <input type="hidden" asp-for="@Model[i].Specificulture" />
        <label class="custom-control-label" for="ListSupportedCulture_@Model[i].Specificulture">
            <i class="flag-icon h5 @Model[i].Icon" style="margin-right: 5px;margin-left: 10px;"></i> @Model[i].Specificulture
        </label>
    </div>*@