@model BEArticleViewModel
@{
    var status = Html.GetEnumSelectList<Swastika.Common.Utility.Enums.SWStatus>();
    string img = Model != null ? Model.Image : "http://placehold.it/200x200";
    string thumb = Model != null ? Model.Thumbnail : "http://placehold.it/200x200";
    var templates = new SelectList(Model.Templates, "Filename", "Filename");
}

<div class="card">
    <div class="card-header">
        Info
    </div>
    <div class="card-body">
        <div class="form-group">
            @{
                foreach (var stat in status)
                {
                    <div class="custom-control custom-radio">
                        <input asp-for="Status" type="radio" value="@stat.Text" class="custom-control-input" id="pageType_@stat.Value" />
                        <label class="custom-control-label" for="pageType_@stat.Value">@stat.Text</label>
                    </div>
                }
            }
            @*<span class="switch">
                    <input type="checkbox" asp-for="IsVisible" class="switch">
                    <label asp-for="IsVisible">Publish</label>
                </span>
                <span class="switch">
                        <input type="checkbox" asp-for="IsDeleted" class="switch">
                        <label asp-for="IsDeleted">Deleted</label>
                    </span>*@
        </div>
        <div class="form-group">
            <label asp-for="CreatedDateTime" class="control-label">Created Date Time</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="mi mi-Calendar"></i></span>
                </div>
                <input asp-for="CreatedDateTime" type="text" class="form-control" readonly />
            </div>
            <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CreatedBy" class="control-label">Created By</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="mi mi-Contact"></i></span>
                </div>
                <input asp-for="CreatedBy" class="form-control" readonly />
            </div>
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>
    </div>
</div>

@Html.Partial("EditableSides/_EditableSide_Cultures", Model.ListSupportedCulture)
<input type="hidden" asp-for="Specificulture" />

<div class="card">
    <div class="card-header">
        <label asp-for="Icon"></label>
    </div>
    <div class="card-body">
        <div class="form-group">

            <span asp-validation-for="Icon" class="text-danger"></span>
            <select asp-for="@Model.Icon" class="form-control selectpicker">
                <option value="">Select Icon</option>
                <option value="fa fa-envelope" data-content="<span><i class='fa fa-1x fa-envelope'></i></span>"></option>

                <option value="fa fa-facebook" data-content="<span><i class='fa fa-1x fa-facebook'></i></span>"></option>
                <option value="fa fa-twitter" data-content="<span><i class='fa fa-1x fa-twitter'></i></span>"></option>
                <option value="fa fa-linkedin" data-content="<span><i class='fa fa-1x fa-linkedin'></i></span>"></option>
                <option value="fa fa-skype" data-content="<span><i class='fa fa-1x fa-skype'></i></span>"></option>

                <option value="fa fa fa-car" data-content="<span><i class='fa fa fa-car'></i></span>"></option>
                <option value="fa fa fa-building" data-content="<span><i class='fa fa-building'></i></span>"></option>
                <option value="fa fa fa-language" data-content="<span><i class='fa fa-language'></i></span>"></option>
                <option value="fa fa fa-paper-plane-o" data-content="<span><i class='fa fa fa-paper-plane-o'></i></span>"></option>
                <option value="fa fa fa-users" data-content="<span><i class='fa fa fa-users'></i></span>"></option>
                <option value="fa fa fa-ticket" data-content="<span><i class='fa fa fa-ticket'></i></span>"></option>
            </select>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Feature image
    </div>
    <div class="card-body p-0" style="background:url(/images/upload-image-thumbnail.png) no-repeat center;  cursor:pointer;">
        @*<label asp-for="Image" class="control-label"></label>*@
        <span asp-validation-for="Image" class="text-danger"></span>
        <span class="custom-file" style="min-height:150px; overflow:hidden;">
            <button class="btn btn-dark btn-sm custom-file-cropper position-absolute m-1 collapse" style="z-index:3;" data-toggle="modal" data-target=".image-crop-modal-lg" data-imgsrc="">
                <i class="mi mi-Crop"></i>
            </button>
            <input type="file" name="pic" class="custom-file-input auto-upload position-absolute" style="height:400px;">
            <img src="@img" name="pic" class="custom-file-img " accept="image/*" width="100%" />
            <input type="hidden" value="Articles/@Model.SeoTitle" class="folder-val" />
            <input type="text" asp-for="Image" class="form-control custom-file-val d-none">
            @*<span class="btn btn-primary custom-file-control">Browse</span>*@
        </span>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Thumbnail image
    </div>
    <div class="card-body p-0" style="background:url(/images/upload-image-thumbnail.png) no-repeat center; ">
        @*<label asp-for="Image" class="control-label"></label>*@
        <span asp-validation-for="Thumbnail" class="text-danger"></span>
        <label class="custom-file" style="min-height:150px; cursor:pointer;">
            <img src="@thumb" name="pic" class="custom-file-img " accept="image/*" width="100%" />
            <input type="hidden" value="Articles/@Model.SeoTitle" class="folder-val" />
            <input type="file" name="pic" class="custom-file-input auto-upload">
            <input type="text" asp-for="Thumbnail" class="form-control custom-file-val d-none">
            @*<span class="btn btn-primary custom-file-control">Browse</span>*@
        </label>
    </div>
</div>
<style>
    .btn {
        padding-left: .75rem;
        padding-right: .75rem;
    }

    label.btn {
        margin-bottom: 0;
    }

    .d-flex > .btn {
        flex: 1;
    }

    .carbonads {
        border-radius: .25rem;
        border: 1px solid #ccc;
        font-size: .875rem;
        overflow: hidden;
        padding: 1rem;
    }

    .carbon-wrap {
        overflow: hidden;
    }

    .carbon-img {
        clear: left;
        display: block;
        float: left;
    }

    .carbon-text,
    .carbon-poweredby {
        display: block;
        margin-left: 140px;
    }

        .carbon-text,
        .carbon-text:hover,
        .carbon-text:focus {
            color: #fff;
            text-decoration: none;
        }

        .carbon-poweredby,
        .carbon-poweredby:hover,
        .carbon-poweredby:focus {
            color: #ddd;
            text-decoration: none;
        }

    @@media (min-width: 768px) {
        .carbonads {
            float: right;
            margin-bottom: -1rem;
            margin-top: -1rem;
            max-width: 360px;
        }
    }

    .footer {
        font-size: .875rem;
    }

    .heart {
        color: #ddd;
        display: block;
        height: 2rem;
        line-height: 2rem;
        margin-bottom: 0;
        margin-top: 1rem;
        position: relative;
        text-align: center;
        width: 100%;
    }

        .heart:hover {
            color: #ff4136;
        }

        .heart::before {
            border-top: 1px solid #eee;
            content: " ";
            display: block;
            height: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;
        }

        .heart::after {
            background-color: #fff;
            content: "♥";
            padding-left: .5rem;
            padding-right: .5rem;
            position: relative;
            z-index: 1;
        }

    .img-container,
    .img-preview {
        background-color: #f7f7f7;
        text-align: center;
        width: 100%;
    }

    .img-container {
        margin-bottom: 1rem;
        max-height: 497px;
        min-height: 200px;
    }

    @@media (min-width: 768px) {
        .img-container {
            min-height: 497px;
        }
    }

    .img-container > img {
        max-width: 100%;
    }

    .docs-preview {
        margin-right: -1rem;
    }

    .img-preview {
        float: left;
        margin-bottom: .5rem;
        margin-right: .5rem;
        overflow: hidden;
    }

        .img-preview > img {
            max-width: 100%;
        }

    .preview-lg {
        height: 9rem;
        width: 16rem;
    }

    .preview-md {
        height: 4.5rem;
        width: 8rem;
    }

    .preview-sm {
        height: 2.25rem;
        width: 4rem;
    }

    .preview-xs {
        height: 1.125rem;
        margin-right: 0;
        width: 2rem;
    }

    .docs-data > .input-group {
        margin-bottom: .5rem;
    }

        .docs-data > .input-group > label {
            justify-content: center;
            min-width: 5rem;
        }

        .docs-data > .input-group > span {
            justify-content: center;
            min-width: 3rem;
        }

    .docs-buttons > .btn,
    .docs-buttons > .btn-group,
    .docs-buttons > .form-control {
        margin-bottom: .5rem;
        margin-right: .25rem;
    }

    .docs-toggles > .btn,
    .docs-toggles > .btn-group,
    .docs-toggles > .dropdown {
        margin-bottom: .5rem;
    }

    .docs-tooltip {
        display: block;
        margin: -.5rem -.75rem;
        padding: .5rem .75rem;
    }

        .docs-tooltip > .icon {
            margin: 0 -.25rem;
            vertical-align: top;
        }

    .tooltip-inner {
        white-space: normal;
    }

    .btn-upload .tooltip-inner,
    .btn-toggle .tooltip-inner {
        white-space: nowrap;
    }

    .btn-toggle {
        padding: .5rem;
    }

        .btn-toggle > .docs-tooltip {
            margin: -.5rem;
            padding: .5rem;
        }

    @@media (max-width: 400px) {
        .btn-group-crop {
            margin-right: -1rem !important;
        }

            .btn-group-crop > .btn {
                padding-left: .5rem;
                padding-right: .5rem;
            }

            .btn-group-crop .docs-tooltip {
                margin-left: -.5rem;
                margin-right: -.5rem;
                padding-left: .5rem;
                padding-right: .5rem;
            }
    }

    .docs-options .dropdown-menu {
        width: 100%;
    }

        .docs-options .dropdown-menu > li {
            font-size: .875rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

            .docs-options .dropdown-menu > li:hover {
                background-color: #f7f7f7;
            }

            .docs-options .dropdown-menu > li > label {
                display: block;
            }

    .docs-cropped .modal-body {
        text-align: center;
    }

        .docs-cropped .modal-body > img,
        .docs-cropped .modal-body > canvas {
            max-width: 100%;
        }
</style>
<div class="modal fade image-crop-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="max-width: 95%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Image crop setting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Content -->
                <div class="container-fluid">
                    <div class="row flex-nowrap" id="actions-left-sidebar">
                        <div class="col-md-4 col-12 docs-buttons p-0" style="max-width: 40px;">

                            <div class="btn-group-vertical mb-1 btn-group-sm">
                                <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="move" title="Move">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.setDragMode(&quot;move&quot;)">
                                        <i class="mi mi-SIPMove"></i>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="crop" title="Crop">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.setDragMode(&quot;crop&quot;)">
                                        <i class="mi mi-Crop"></i>
                                    </span>
                                </button>

                                <button type="button" class="btn btn-primary" data-method="reset" title="Reset">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.reset()">
                                        <i class="mi mi-RepeatAll"></i>
                                    </span>
                                </button>
                            </div>

                            <div class="btn-group-vertical mb-1 btn-group-sm">
                                <button type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.zoom(0.1)">
                                        <i class="mi mi-ZoomIn"></i>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.zoom(-0.1)">
                                        <i class="mi mi-ZoomOut"></i>
                                    </span>
                                </button>
                            </div>

                            <div class="btn-group-vertical mb-1 btn-group-sm">
                                <button type="button" class="btn btn-primary" data-method="move" data-option="-10" data-second-option="0" title="Move Left">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.move(-10, 0)">
                                        <i class="mi mi-ChevronLeftSmall"></i>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-primary" data-method="move" data-option="10" data-second-option="0" title="Move Right">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.move(10, 0)">
                                        <i class="mi mi-ChevronRightSmall"></i>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="-10" title="Move Up">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.move(0, -10)">
                                        <i class="mi mi-ChevronUpSmall"></i>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="10" title="Move Down">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.move(0, 10)">
                                        <i class="mi mi-ChevronDownSmall"></i>
                                    </span>
                                </button>
                            </div>

                            <div class="btn-group-vertical mb-1 btn-group-sm">
                                <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.rotate(-45)">
                                        <i class="mi mi-Rotate mi-flip-horizontal"></i>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.rotate(45)">
                                        <i class="mi mi-Rotate"></i>
                                    </span>
                                </button>
                            </div>

                            <div class="btn-group-vertical mb-1 btn-group-sm">
                                <button type="button" class="btn btn-primary" data-method="scaleX" data-option="-1" title="Flip Horizontal">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.scaleX(-1)">
                                        <i class="mi mi-Sort mi-rotate-90"></i>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-primary" data-method="scaleY" data-option="-1" title="Flip Vertical">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.scaleY(-1)">
                                        <i class="mi mi-Sort"></i>
                                    </span>
                                </button>
                            </div>

                            @*
                                <div class="btn-group-vertical mb-1 btn-group-sm">
                                    <button type="button" class="btn btn-primary" data-method="crop" title="Crop">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="cropper.crop()">
                                            <span class="fa fa-check"></span>
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-primary" data-method="clear" title="Clear">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="cropper.clear()">
                                            <span class="fa fa-remove"></span>
                                        </span>
                                    </button>
                                </div>

                                    <div class="btn-group-vertical mb-1 btn-group-sm">
                                        <button type="button" class="btn btn-primary" data-method="disable" title="Disable">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.disable()">
                                                <span class="fa fa-lock"></span>
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-primary" data-method="enable" title="Enable">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.enable()">
                                                <span class="fa fa-unlock"></span>
                                            </span>
                                        </button>
                                    </div>

                                    <div class="btn-group-vertical mb-1 btn-group-sm">
                                            <button type="button" class="btn btn-primary" data-method="reset" title="Reset">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="cropper.reset()">
                                                    <span class="fa fa-refresh"></span>
                                                </span>
                                            </button>
                                            <label class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
                                                <input type="file" class="sr-only" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Import image with Blob URLs">
                                                    <span class="fa fa-upload"></span>
                                                </span>
                                            </label>
                                            <button type="button" class="btn btn-primary" data-method="destroy" title="Destroy">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="cropper.destroy()">
                                                    <span class="fa fa-power-off"></span>
                                                </span>
                                            </button>
                                        </div>*@
                        </div>
                        <div class="col-md col-12 main pa-1">
                            <!-- <h3>Demo:</h3> -->
                            <div class="img-container">
                                <img src="https://fengyuanchen.github.io/cropperjs/images/picture.jpg" alt="Picture">
                            </div>
                        </div>
                        <div class="col-md-3" id="actions-right-sidebar">
                            <!-- <h3>Preview:</h3> -->
                            <div class="docs-preview clearfix">
                                <div class="img-preview preview-lg"></div>
                                <div class="img-preview preview-md"></div>
                                <div class="img-preview preview-sm"></div>
                                <div class="img-preview preview-xs"></div>
                            </div>

                            <div class="docs-toggles">
                                <!-- <h3>Toggles:</h3> -->
                                <div class="btn-group d-flex flex-nowrap" data-toggle="buttons">
                                    <label class="btn btn-primary active">
                                        <input type="radio" class="sr-only" id="aspectRatio1" name="aspectRatio" value="1.7777777777777777">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="aspectRatio: 16 / 9">
                                            16:9
                                        </span>
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" class="sr-only" id="aspectRatio2" name="aspectRatio" value="1.3333333333333333">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="aspectRatio: 4 / 3">
                                            4:3
                                        </span>
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" class="sr-only" id="aspectRatio3" name="aspectRatio" value="1">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="aspectRatio: 1 / 1">
                                            1:1
                                        </span>
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" class="sr-only" id="aspectRatio4" name="aspectRatio" value="0.6666666666666666">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="aspectRatio: 2 / 3">
                                            2:3
                                        </span>
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" class="sr-only" id="aspectRatio5" name="aspectRatio" value="NaN">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="aspectRatio: NaN">
                                            Free
                                        </span>
                                    </label>
                                </div>
                                @*
                                    <div class="btn-group d-flex flex-nowrap" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" class="sr-only" id="viewMode0" name="viewMode" value="0" checked>
                                            <span class="docs-tooltip" data-toggle="tooltip" title="View Mode 0">
                                                VM0
                                            </span>
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" class="sr-only" id="viewMode1" name="viewMode" value="1">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="View Mode 1">
                                                VM1
                                            </span>
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" class="sr-only" id="viewMode2" name="viewMode" value="2">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="View Mode 2">
                                                VM2
                                            </span>
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" class="sr-only" id="viewMode3" name="viewMode" value="3">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="View Mode 3">
                                                VM3
                                            </span>
                                        </label>
                                    </div>

                                    <div class="btn-group btn-group-crop">
                                            <button type="button" class="btn btn-success" data-method="getCroppedCanvas" data-option="{ &quot;maxWidth&quot;: 4096, &quot;maxHeight&quot;: 4096 }">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getCroppedCanvas({ maxWidth: 4096, maxHeight: 4096 })">
                                                    Get Cropped Canvas
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-success" data-method="getCroppedCanvas" data-option="{ &quot;width&quot;: 160, &quot;height&quot;: 90 }">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getCroppedCanvas({ width: 160, height: 90 })">
                                                    160&times;90
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-success" data-method="getCroppedCanvas" data-option="{ &quot;width&quot;: 320, &quot;height&quot;: 180 }">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getCroppedCanvas({ width: 320, height: 180 })">
                                                    320&times;180
                                                </span>
                                            </button>
                                        </div>

                                        <button type="button" class="btn btn-secondary" data-method="getData" data-option data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getData()">
                                                Get Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-method="setData" data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.setData(data)">
                                                Set Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-method="getContainerData" data-option data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getContainerData()">
                                                Get Container Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-method="getImageData" data-option data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getImageData()">
                                                Get Image Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-method="getCanvasData" data-option data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getCanvasData()">
                                                Get Canvas Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-method="setCanvasData" data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.setCanvasData(data)">
                                                Set Canvas Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-method="getCropBoxData" data-option data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getCropBoxData()">
                                                Get Crop Box Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-method="setCropBoxData" data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.setCropBoxData(data)">
                                                Set Crop Box Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-method="moveTo" data-option="0">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.moveTo(0)">
                                                Move to [0,0]
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-method="zoomTo" data-option="1">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.zoomTo(1)">
                                                Zoom to 100%
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-method="rotateTo" data-option="180">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.rotateTo(180)">
                                                Rotate 180°
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-method="scale" data-option="-2" data-second-option="-1">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.scale(-2, -1)">
                                                Scale (-2, -1)
                                            </span>
                                        </button>*@
                                @*
                                    <div class="dropdown dropup docs-options">
                                        <button type="button" class="btn btn-primary btn-block dropdown-toggle" id="toggleOptions" data-toggle="dropdown" aria-expanded="true">
                                            Toggle Options
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="toggleOptions">
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="responsive" checked>
                                                    responsive
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="restore" checked>
                                                    restore
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="checkCrossOrigin" checked>
                                                    checkCrossOrigin
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="checkOrientation" checked>
                                                    checkOrientation
                                                </label>
                                            </li>

                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="modal" checked>
                                                    modal
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="guides" checked>
                                                    guides
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="center" checked>
                                                    center
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="highlight" checked>
                                                    highlight
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="background" checked>
                                                    background
                                                </label>
                                            </li>

                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="autoCrop" checked>
                                                    autoCrop
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="movable" checked>
                                                    movable
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="rotatable" checked>
                                                    rotatable
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="scalable" checked>
                                                    scalable
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="zoomable" checked>
                                                    zoomable
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="zoomOnTouch" checked>
                                                    zoomOnTouch
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="zoomOnWheel" checked>
                                                    zoomOnWheel
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="cropBoxMovable" checked>
                                                    cropBoxMovable
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="cropBoxResizable" checked>
                                                    cropBoxResizable
                                                </label>
                                            </li>
                                            <li class="dropdown-item">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="toggleDragModeOnDblclick" checked>
                                                    toggleDragModeOnDblclick
                                                </label>
                                            </li>
                                        </ul>
                                    </div><!-- /.dropdown -->
                                    <a class="btn btn-success btn-block" data-toggle="tooltip" href="https://fengyuanchen.github.io/photo-editor" title="An advanced example of Cropper.js">Photo Editor</a>*@
                            </div><!-- /.docs-toggles -->
                            <!-- <h3>Data:</h3> -->
                            <div class="docs-data">
                                <div class="input-group input-group-sm">
                                    <label class="input-group-addon" for="dataX">X</label>
                                    @*<input type="text" class="form-control" id="dataX" placeholder="x">*@
                                    <label id="dataX" placeholder="x"></label>
                                    <span class="input-group-addon">px</span>
                                </div>
                                <div class="input-group input-group-sm">
                                    <label class="input-group-addon" for="dataY">Y</label>
                                    @*<input type="text" class="form-control" id="dataY" placeholder="y">*@
                                    <label id="dataY" placeholder="x"></label>
                                    <span class="input-group-addon">px</span>
                                </div>
                                <div class="input-group input-group-sm">
                                    <label class="input-group-addon" for="dataWidth">Width</label>
                                    @* <input type="text" class="form-control" id="dataWidth" placeholder="width">*@
                                    <label id="dataWidth" placeholder="x"></label>
                                    <span class="input-group-addon">px</span>
                                </div>
                                <div class="input-group input-group-sm">
                                    <label class="input-group-addon" for="dataHeight">Height</label>
                                    @*<input type="text" class="form-control" id="dataHeight" placeholder="height">*@
                                    <label id="dataHeight" placeholder="x"></label>
                                    <span class="input-group-addon">px</span>
                                </div>
                                <div class="input-group input-group-sm">
                                    <label class="input-group-addon" for="dataRotate">Rotate</label>
                                    @*<input type="text" class="form-control" id="dataRotate" placeholder="rotate">*@
                                    <label id="dataRotate" placeholder="x"></label>
                                    <span class="input-group-addon">deg</span>
                                </div>
                                <div class="input-group input-group-sm">
                                    <label class="input-group-addon" for="dataScaleX">ScaleX</label>
                                    @*<input type="text" class="form-control" id="dataScaleX" placeholder="scaleX">*@
                                    <label id="dataScaleX" placeholder="x"></label>
                                </div>
                                <div class="input-group input-group-sm">
                                    <label class="input-group-addon" for="dataScaleY">ScaleY</label>
                                    @*<input type="text" class="form-control" id="dataScaleY" placeholder="scaleY">*@
                                    <label id="dataScaleY" placeholder="x"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="actions-bottom">
                        <div class="col-md-9 docs-buttons">
                            <!-- <h3>Toolbar:</h3> -->
                            <input id="putData" type="hidden" />
                        </div><!-- /.docs-buttons -->
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-8">
                            <div class="img-cropper-container mb-2">
                                <img id="image-crop-placeholder" class="img-cropper img-fluid" style="max-width:100%;width: 100%;" src="https://fengyuanchen.github.io/cropperjs/https://fengyuanchen.github.io/cropperjs/images/picture.jpg">
                            </div>

                            <input id="image-crop-info" type="text" value="" class="form-control" onclick="$(this).select();" />
                        </div>
                        <div class="col-4">
                            <div class="img-cropper-preview-container">
                                <div class="img-cropper-preview "></div>
                            </div>
                            <div class="btn-group d-flex flex-nowrap" data-toggle="buttons">
                                <label class="btn btn-primary">
                                    <input type="radio" class="sr-only" id="aspectRatio1" name="aspectRatio" value="1.7777777777777777">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="aspectRatio: 16 / 9">
                                        16:9
                                    </span>
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" class="sr-only" id="aspectRatio2" name="aspectRatio" value="1.3333333333333333">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="aspectRatio: 4 / 3">
                                        4:3
                                    </span>
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" class="sr-only" id="aspectRatio3" name="aspectRatio" value="1">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="aspectRatio: 1 / 1">
                                        1:1
                                    </span>
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" class="sr-only" id="aspectRatio4" name="aspectRatio" value="0.6666666666666666">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="aspectRatio: 2 / 3">
                                        2:3
                                    </span>
                                </label>
                                <label class="btn btn-primary active">
                                    <input type="radio" class="sr-only" id="aspectRatio5" name="aspectRatio" value="NaN">
                                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="aspectRatio: NaN">
                                        Free
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="modal-footer">
                <button id="submit" type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*<!-- Show the cropped image in modal -->
    <div class="modal fade docs-cropped" id="getCroppedCanvasModal" role="dialog" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="getCroppedCanvasTitle">Cropped</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" id="download" href="javascript:void(0);" download="cropped.jpg">Download</a>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->*@
@*<div class="card">
        <div class="card-header">
            Languages
        </div>
        <div class="card-body">

            @for (int i = 0; i < Model.ListSupportedCulture.Count; i++)
            {

                <label class="custom-control custom-checkbox d-block">
                    <input type="checkbox" asp-for="@Model.ListSupportedCulture[i].IsSupported" class="custom-control-input">
                    <input type="hidden" asp-for="@Model.ListSupportedCulture[i].Specificulture" />
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">
                        <i class="flag-icon h5 @Model.ListSupportedCulture[i].Icon" style="margin-right: 5px;margin-left: 10px;"></i> @Model.ListSupportedCulture[i].Specificulture
                    </span>
                </label>

            }

            <input type="hidden" asp-for="Specificulture" />
        </div>
    </div>*@

@await Html.PartialAsync("EditableSides/_EditableSide_Actions")

@*
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Feature Image</h3>
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">

            <div class="form-group">
                <label asp-for="Image" class="col-md-2 control-label"></label>
                <span asp-validation-for="Image" class="text-danger"></span>
                <div class="col-md-10">

                    <label class="custom-file">
                        <img src="@img" name="pic" class="custom-file-img " accept="image/*" />
                        <input type="file" name="pic" class="custom-file-input">
                        <input type="hidden" value="Articles/@Model.SeoTitle" class="folder-val" />
                        <input type="text" asp-for="Image" class="form-control custom-file-val">
                        <span class="custom-file-control">Browse</span>
                    </label>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Thumbnail Image</h3>
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">

            <div class="form-group">
                <label asp-for="Thumbnail" class="col-md-2 control-label"></label>
                <span asp-validation-for="Thumbnail" class="text-danger"></span>
                <div class="col-md-10">

                    <label class="custom-file">
                        <img src="@thumb" name="pic" class="custom-file-img " accept="image/*" />
                        <input type="file" name="pic" class="custom-file-input">
                        <input type="hidden" value="Articles/@Model.SeoTitle" class="folder-val" />
                        <input type="text" asp-for="Thumbnail" class="form-control custom-file-val">
                        <span class="custom-file-control">Browse</span>
                    </label>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
*@