@model BEArticleViewModel
@{
    string img = Model != null ? Model.Image : "http://placehold.it/200x200";
    string thumb = Model != null ? Model.Thumbnail : "http://placehold.it/200x200";
    var templates = new SelectList(Model.Templates, "Filename", "Filename");
}

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Specificulture" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="CreatedDateTime" />
    <input type="hidden" asp-for="View" />
    <input type="hidden" asp-for="Type" />
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Main Content
            </div>
            <div class="card-body">

                <div class="form-group">
                    <input asp-for="Title" class="form-control form-control-lg" placeholder="Enter your article title here..." />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <textarea asp-for="Excerpt" class="form-control" placeholder="Excerpt"></textarea>
                    <span asp-validation-for="Excerpt" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <textarea asp-for="Content" class="form-control editor-content"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header-nav-pills">
                <ul class="nav nav-pills text-center" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-general-tab" data-toggle="pill" href="#pills-general" role="tab" aria-controls="pills-general" aria-selected="true">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-seo-tab" data-toggle="pill" href="#pills-seo" role="tab" aria-controls="pills-seo" aria-selected="true">SEO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-parents-tab" data-toggle="pill" href="#pills-parents" role="tab" aria-controls="pills-parents" aria-selected="false">Parents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-modules-tab" data-toggle="pill" href="#pills-modules" role="tab" aria-controls="pills-modules" aria-selected="false">Modules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-layout-tab" data-toggle="pill" href="#pills-layout" role="tab" aria-controls="pills-layout" aria-selected="false">Layout</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-general" role="tabpanel" aria-labelledby="pills-general-tab">
                        <div class="form-group">
                            <span class="switch">
                                <input type="checkbox" asp-for="IsVisible" class="switch" required="">
                                <label asp-for="IsVisible">Visible</label>
                            </span>
                            <span class="switch">
                                <input type="checkbox" asp-for="IsDeleted" class="switch" required="">
                                <label asp-for="IsDeleted">Deleted</label>
                            </span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Priority" class="control-label"></label>
                            <input asp-for="Priority" class="form-control" />
                            <span asp-validation-for="Priority" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Source" class="control-label"></label>
                            <input asp-for="Source" class="form-control" />
                            <span asp-validation-for="Source" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tags" class="control-label"></label>
                            <input asp-for="Tags" class="form-control tags" data-role="tagsinput" />
                            <span asp-validation-for="Tags" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-seo" role="tabpanel" aria-labelledby="pills-seo-tab">

                        <div class="form-group">
                            <label asp-for="SeoName" class="control-label"></label>
                            <input asp-for="SeoName" class="form-control" />
                            <span asp-validation-for="SeoName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SeoTitle" class="control-label"></label>
                            <input asp-for="SeoTitle" class="form-control" />
                            <span asp-validation-for="SeoTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SeoDescription" class="control-label"></label>
                            <input asp-for="SeoDescription" class="form-control" />
                            <span asp-validation-for="SeoDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SeoKeywords" class="control-label"></label>
                            <input asp-for="SeoKeywords" class="form-control" />
                            <span asp-validation-for="SeoKeywords" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-parents" role="tabpanel" aria-labelledby="pills-parents-tab">

                        <div class="form-group">

                            <label asp-for="Categories" class="control-label col-md-2"></label>

                            <div class="form-check col-md-10">
                                <ul class="nav">
                                    @for (int i = 0; i < Model.Categories.Count; i++)
                                    {
                                        <li class="col-sm-6">

                                            <div asp-for="@Model.Categories[i].IsActived" class="custom-control custom-checkbox">

                                                <input type="checkbox" asp-for="@Model.Categories[i].IsActived"
                                                       class="custom-control-input" />

                                                <input type="hidden" asp-for="@Model.Categories[i].Specificulture" />
                                                <input type="hidden" asp-for="@Model.Categories[i].CategoryId" />
                                                <input type="hidden" asp-for="@Model.Categories[i].ArticleId" />
                                                <label class="custom-control-label" asp-for="@Model.Categories[i].IsActived">
                                                    @Model.Categories[i].Description <a asp-area="Portal" asp-controller="Module" asp-action="Details" asp-route-id="@Model.Categories[i].ArticleId" style="display:initial;padding:0;" target="_blank">
                                                    </a>
                                                </label>
                                            </div>
                                        </li>

                                    }
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">

                            <label asp-for="Modules" class="control-label col-md-2"></label>
                            <div class="form-check col-md-10">
                                <ul class="nav">
                                    @for (int i = 0; i < Model.Modules.Count; i++)
                                    {
                                        <li class="col-sm-6">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" asp-for="@Model.Modules[i].IsActived"
                                                       class="custom-control-input" />
                                                <label class="custom-control-label" asp-for="@Model.Modules[i].IsActived">
                                                    @Model.Modules[i].Description
                                                </label>
                                                <input type="hidden" asp-for="@Model.Modules[i].Specificulture" />
                                                <input type="hidden" asp-for="@Model.Modules[i].ArticleId" />
                                                <input type="hidden" asp-for="@Model.Modules[i].ModuleId" />
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-modules" role="tabpanel" aria-labelledby="pills-modules-tab">

                        <div class="form-group">
                            <label asp-for="Modules" class="control-label col-md-2"></label>
                            <div class="form-check col-md-10">
                                <ul class="nav">
                                    @for (int i = 0; i < Model.ModuleNavs.Count; i++)
                                    {
                                        <li class="col-sm-6">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" asp-for="@Model.ModuleNavs[i].IsActived" data-module-id="@Model.ModuleNavs[i].ModuleId" class="cb-active-module custom-control-input" />
                                                <label class="custom-control-label" asp-for="@Model.ModuleNavs[i].IsActived">@Model.ModuleNavs[i].Description</label>
                                                <input type="hidden" asp-for="@Model.ModuleNavs[i].Specificulture" />
                                                <input type="hidden" asp-for="@Model.ModuleNavs[i].ArticleId" />
                                                <input type="hidden" asp-for="@Model.ModuleNavs[i].ModuleId" />
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="control-label col-md-2">Modules Data</label>
                            @foreach (var childModule in Model.ModuleNavs)
                            {
                                string cl = !childModule.IsActived ? "hidden" : string.Empty;
                                var module = childModule.Module;
                                <div class="col-md-12 @cl module-data-@childModule.ModuleId">
                                    <h1>@module.Title</h1>
                                    @*<a href="#" class="btn btn-success AddObject" moduleId="@module.Id">Add new</a>*@
                                    <table class="table table-hover table-striped" id="module-@module.Id">
                                        <thead class="thead-light">
                                            <tr>
                                                @foreach (var col in module.Columns.Where(c => c.IsDisplay))
                                                {
                                                    <th class="col-sm-@col.Width">
                                                        @col.Name
                                                    </th>
                                                }
                                                <th>Actived</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in module.Data.Items)
                                            {
                                                bool isActived = item.ArticleId == Model.Id;
                                                <tr id="data-@item.Id" dataId="data-@item.Id">
                                                    @foreach (var col in module.Columns.Where(c => c.IsDisplay))
                                                    {
                                                        var prop = item.GetDataProperty(col.Name);
                                                        <td>
                                                            @{Html.RenderPartial("_ViewByFieldType",
new ViewDataDictionary(this.Vi‌​ewData) { { "DataType", prop.DataType }, { "Value", prop.Value } });
                                                            }
                                                        </td>
                                                    }
                                                    <td>
                                                        <input asp-for="@isActived" class="cb-active-data" dataId="@item.Id" />
                                                    </td>
                                                    <td>
                                                        <a asp-area="Portal" asp-controller="Module"
                                                           asp-action="EditModuleData" asp-route-id="@item.ModuleId" asp-route-dataId="@item.Id"
                                                           dataId="@item.Id" class="btn btn-sm btn-warning"><span class="oi oi-pencil"></span></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-layout" role="tabpanel" aria-labelledby="pills-layout-tab">

                        <div class="form-group">

                            <label asp-for="Template" class="control-label"></label>

                            <div class="">

                                @Html.Partial("_Editor_Code", Model.View, new ViewDataDictionary(this.ViewData){
{
                            "Files", Model.Templates
                        },
                        {
                            "Name", "View"
                        }

})
                                @* <input asp-for="View.Filename" class="form-control" />

                                    <div class="form-control" id="code-editor" asp-for="View.Content"></div>*@
                                <span asp-validation-for="Template" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>