@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SSwastika.Cms.Lib.ViewModels.FrontEnd.FEModuleViewModel

@if (Model != null && Model.Data.TotalItems>0)
{

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.Data.TotalItems; i++)
                {
                    string cl = i == 0 ? "active" : string.Empty;
                    <li data-target="#main-slider" data-slide-to="@i" class="@cl"></li>
                }
            </ol>
            <div class="carousel-inner">
                @foreach (var item in Model.Data.Items)
                {
                    string cl = Model.Data.Items.IndexOf(item) == 0 ? "active" : string.Empty;

                    <div class="item @cl" style="background-image: url(@item.GetStringValue("Image"))">
                        <div class="container">
                            <div class="row slide-margin">
                                <div class="col-sm-6">
                                    <div class="carousel-content">
                                        <h1 class="animation animated-item-1" style="color:#333;background-color: rgba(255, 255, 255, 0.5);">@item.GetStringValue("Title")</h1>
                                        <h2 class="animation animated-item-2" style="color:#333;background-color: rgba(255, 255, 255, 0.5);">@Html.Raw(item.GetStringValue("BrieftContent"))</h2>
                                        @if (!string.IsNullOrWhiteSpace(item.GetStringValue("Url")))
                                        {
                                            /* if nav to link have value*/
                                            <a class="btn-slide animation animated-item-3" target="_blank" href="@item.GetStringValue("Url")">Read More</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/.item-->
                }                
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->
}




