@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Swastika.Cms.Lib.ViewModels.ModuleViewModel

@if (Model != null && Model.Data.TotalItems > 0)
{

    <section id="contact-info">
        <div class="center">
            <h2>@Model.Title</h2>
            <p class="lead">@Model.Description</p>
        </div>
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <div class="gmap">
                            @Html.Raw(@Model.Data.Items[0].GetStringValue("Gmap"))
                        </div>
                    </div>
                    <div class="col-sm-7 map-content">
                        <ul class="row">
                            @foreach (var item in Model.Data.Items)
                            {
                                <li class="col-sm-12">
                                    <address>
                                        <h5>@item.GetStringValue("Title")</h5>
                                        <p>@item.GetStringValue("Address")</p>
                                        <p>Phone: @item.GetStringValue("Phone")<br> 
                                        Email Address: @item.GetStringValue("Email")</p>
                                    </address>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <!--/.row-->
            </div>
        </div>
    </section><!--/#contact info-->
}



