@using Microsoft.AspNetCore.Mvc.Localization
@inject UserManager<ApplicationUser> UserManager
<!doctype html>
<html lang="en">

<head>
    <base href="/admin">

    <title>@ViewData["Title"] - Angular Swastika I/O</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*@
    <meta name="viewport" content="width=1920">
    <link rel="stylesheet" href="/css/portal/portal.white.min.css">
    <link href="/css/portal/main.css" rel="stylesheet" />
    @*<link href="/css/open-iconic/open-iconic-bootstrap.min.css" rel="stylesheet">*@
    <link href="/lib/micon/css/micon.min.css" rel="stylesheet" />
    <link href="/lib/fontawesome-free-5.0.10/css/fontawesome-all.css" rel="stylesheet" />

    <link href="/lib/bootstrap4-tagsinput-4.1.2/tagsinput.css" rel="stylesheet" />

    <!-- TRUMBOWYG -->
    <link href="/lib/Trumbowyg-2.9.0/ui/trumbowyg.min.css" rel="stylesheet" />
    <link href="/lib/Trumbowyg-2.9.0/plugins/colors/ui/trumbowyg.colors.css" rel="stylesheet" />

    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

    <link href="/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
    <link rel="icon" href="/css/portal/img/swastika-io-logo-blue.png">
    @*<link rel="stylesheet" type="text/css" href="/lib/DataTables/datatables.min.css" />*@
    <link href="/lib/cropperjs-1.2.2/dist/cropper.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        .sw-content {
            width: 100% !important;
        }

        input[type="date"]::-webkit-inner-spin-button {
            display: none;
        }
        /* helper to ensure that razor (which is correctly detected by ACE) is also highlighted */
        .ace_razor {
            background-color: yellow;
        }

        /* make sure the highlighted text is also black, otherwise it a kind of gray */
        .ace_punctuation.ace_short.ace_razor {
            color: black;
        }

        .ace_punctuation.ace_block.ace_razor {
            color: black;
        }

        /* Center the loader */
        .loader-container {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: fixed;
            background-color: black;
            opacity: 0.2;
            z-index: 9999;
        }

        #loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    @RenderSection("Styles", required: false)
</head>

<body ng-app="SwastikaPortal" ng-init="initApp()">
    <input type="hidden" id="lang" name="curentLanguage" value="@ViewBag.culture" />
    <div class="loader-container" ng-show="isBusy">
        <div id="loader"></div>
    </div>
    <header-nav></header-nav>
    <div class="container-fluid wrapper">
        <div class="row flex-xl-nowrap">
            <main-side-bar></main-side-bar>
            <main class="py-md-3 px-md-2 sw-content" role="main">

                @RenderBody()

                <footer class="footer d-block">
                    <div class="container-fluid">
                        <nav>
                            <p class="copyright text-center">
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>
                                <a href="http://www.swastika.io">Swastika I/O</a>, made on Earth by humans.
                            </p>
                        </nav>
                    </div>
                </footer>
            </main>

        </div>
    </div>
    <script src="/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="/lib/popper.js-1.12.9/dist/umd/popper.min.js"></script>

    <script type="text/javascript" src="/lib/bootstrap-4.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/portal/portal.white.js"></script>

    <!-- TRUMBOWYG -->
    <script src="/lib/Trumbowyg-2.9.0/trumbowyg.min.js"></script>
    <script src="/lib/Trumbowyg-2.9.0/plugins/base64/trumbowyg.base64.js"></script>
    <script src="/lib/Trumbowyg-2.9.0/plugins/cleanpaste/trumbowyg.cleanpaste.js"></script>
    <script src="/lib/Trumbowyg-2.9.0/plugins/colors/trumbowyg.colors.js"></script>
    <script src="/lib/Trumbowyg-2.9.0/plugins/upload/trumbowyg.upload.js"></script>
    <script src="/lib/Trumbowyg-2.9.0/plugins/noembed/trumbowyg.noembed.js"></script>

    @*<script type="text/javascript" src="/lib/DataTables/datatables.min.js"></script>*@

    <script type="text/javascript" src="/lib/cropperjs-1.2.2/dist/cropper.js"></script>

    <script type="text/javascript" src="/lib/ace/src/ace.js"></script>
    <script type="text/javascript" src="/lib/ace/src/mode-csharp.js"></script>
    <script type="text/javascript" src="/lib/ace/src/mode-razor.js"></script>
    <script type="text/javascript" src="/lib/ace/src/mode-json.js"></script>
    <script type="text/javascript" src="/lib/ace/src/theme-chrome.js"></script>
    <script type="text/javascript" src="/lib/ace/src/theme-clouds_midnight.js"></script>
    <script type="text/javascript" src="/lib/ace/src/worker-json.js"></script>

    <script src="/lib/clipboard.js-2.0.0/dist/clipboard.min.js"></script>

    <script type="text/javascript" src="/lib/bootstrap4-tagsinput-4.1.2/tagsinput.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


    <script src="/js/plugins/ng-file-upload-bower-12.2.13/ng-file-upload-all.js"></script>
    <script src="/js/plugins/ng-file-upload-bower-12.2.13/ng-file-upload-shim.js"></script>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>
    <script src="/app-portal/plugins/angular-local-storage.min.js"></script>
    <script src="/app-portal/app.js"></script>
    <script src="/app-portal/app.route.js"></script>

    <!-- Services-->
    <script src="/app-portal/pages/shared/services/auth-services.js"></script>
    <script src="/app-portal/pages/shared/services/common-services.js"></script>
    @*<script src="/app-portal/services/user-services.js"></script>*@
    <script src="/app-portal/pages/product/product-services.js"></script>
    <script src="/app-portal/pages/page/page-services.js"></script>

    <!-- End Services -->
    
    <!-- Controllers -->
    @*<script src="/app-portal/controllers/template-controller.js"></script>
    <script src="/app-portal/controllers/portal-controller.js"></script>*@    
    <script src="~/app-portal/pages/shared/controllers/template-controller.js"></script>
    <script src="/app-portal/pages/login/login-controller.js"></script>
    <script src="/app-portal/pages/dashboard/dashboard-controller.js"></script>
    <script src="~/app-portal/pages/dashboard/dashboard-services.js"></script>
    <script src="/app-portal/pages/product/product-controller.js"></script>
    <script src="/app-portal/pages/page/page-controller.js"></script>
    <!-- Controllers -->

    
    
    <!-- Components -->
    <script src="/app-portal/plugins/paging.js"></script>
    
    <script src="~/app-portal/pages/shared/components/components.js"></script>
    <script src="/app-portal/pages/shared/components/header-nav/header-nav.js"></script>
    <script src="/app-portal/pages/shared/components/directives/pane.js"></script>
    <script src="/app-portal/pages/shared/components/directives/tabs.js"></script>
    <script src="~/app-portal/pages/shared/components/tabs-verticle/tabs.js"></script>
    <script src="~/app-portal/pages/shared/components/tabs-verticle/pane.js"></script>
    <script src="~/app-portal/pages/shared/components/tabs-horizontal/tabs.js"></script>
    <script src="~/app-portal/pages/shared/components/tabs-horizontal/pane.js"></script>
    <script src="/app-portal/pages/shared/components/template-editor/templateEditor.js"></script>
    <script src="/app-portal/pages/shared/components/custom-file/customFile.js"></script>
    <script src="~/app-portal/pages/shared/components/custom-image/customImage.js"></script>
    <script src="/app-portal/pages/shared/components/actions/actions.js"></script>
    @*<script src="/app-portal/pages/shared/components/paging/paging.js"></script>*@
    <script src="/app-portal/pages/shared/components/message/message.js"></script>
    <script src="/app-portal/pages/shared/components/editor/editor.js"></script>
    
    <script src="/app-portal/pages/shared/components/breadcrumbs/breadcrumbs.js"></script>
    <script src="/app-portal/pages/shared/components/main-side-bar/main-side-bar.js"></script>
    <script src="/app-portal/pages/shared/components/main-side-bar-item/main-side-bar-item.js"></script>
    <script src="/app-portal/pages/shared/components/filter-list/filter-list.js"></script>

    <!--product-components-->
    <script src="/app-portal/pages/product/components/general/productGeneral.js"></script>
    <script src="/app-portal/pages/product/components/main/productMain.js"></script>
    <script src="/app-portal/pages/product/components/medias/productMedias.js"></script>
    <script src="/app-portal/pages/product/components/modules/productModules.js"></script>
    <script src="/app-portal/pages/product/components/parents/productParents.js"></script>
    <script src="/app-portal/pages/product/components/related/productRelated.js"></script>
    <script src="/app-portal/pages/product/components/seo/productSeo.js"></script>
    
    <!--page-components-->
    <script src="/app-portal/pages/page/components/general/general.js"></script>
    <script src="/app-portal/pages/page/components/main/main.js"></script>
    <script src="/app-portal/pages/page/components/medias/medias.js"></script>
    <script src="/app-portal/pages/page/components/modules/modules.js"></script>
    <script src="/app-portal/pages/page/components/parents/parents.js"></script>
    <script src="/app-portal/pages/page/components/plug-play/plug-play.js"></script>
    <script src="/app-portal/pages/page/components/seo/seo.js"></script>

    <!-- End Components -->
    @RenderSection("Scripts", required: false)

    <!--Datatables-->
    <script type="text/javascript" src="/js/portal/common.js"></script>

    @*@RenderSection("Modals", required: false)*@
    @*@await Component.InvokeAsync(typeof(Swastika.Cms.Mvc.Areas.Portal.ViewComponents.Modals))*@
</body>
</html>