@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Swastika.Cms.Lib.ViewModels.ModuleDataValueViewModel Model = (Swastika.Cms.Lib.ViewModels.ModuleDataValueViewModel)this.ViewData["Model"];
    Swastika.Cms.Lib.SWCmsConstants.DataType type = (Swastika.Cms.Lib.SWCmsConstants.DataType)this.ViewData["dataType"];
    IConvertible value = (IConvertible)this.ViewData["Value"];

}

@{

    switch (type)
    {
        case Swastika.Cms.Lib.SWCmsConstants.DataType.Image:
            string strValue = (string)value;
            string img = !string.IsNullOrEmpty(strValue) ? strValue : "http://placehold.it/50x50";
            <img src="@img" style="max-width:100%" />
            break;
        case Swastika.Cms.Lib.SWCmsConstants.DataType.Icon:
            <i class="fa-2x @value"></i>
            break;
        case Swastika.Cms.Lib.SWCmsConstants.DataType.Html:
            @Html.Raw(value)
            break;

        case Swastika.Cms.Lib.SWCmsConstants.DataType.Boolean:
            bool val = (bool)value;// : false;
            <input asp-for="@val" />
            break;
        case Swastika.Cms.Lib.SWCmsConstants.DataType.CodeEditor:
            <div class="form-control" id="code-editor">@value</div>
            break;
        default:
            <p class="control-lable">
                @value
            </p>
            break;
    }
}