@model BEProductViewModel
@{
    string img = Model != null ? Model.Image : "http://placehold.it/200x200";
    string thumb = Model != null ? Model.Thumbnail : "http://placehold.it/200x200";
    var templates = new SelectList(Model.Templates, "Filename", "Filename");
    var types = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.DataType>();
}

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Specificulture" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="CreatedDateTime" />
    <input type="hidden" asp-for="View" />
    <input type="hidden" asp-for="Type" />
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Main Content
            </div>
            <div class="card-body">

                <div class="form-group">
                    <input asp-for="Title" class="form-control form-control-lg" placeholder="Enter your product title here..." />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <textarea asp-for="Excerpt" class="form-control" placeholder="Excerpt"></textarea>
                    <span asp-validation-for="Excerpt" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <textarea asp-for="Content" class="form-control editor-content"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header-nav-pills">
                <ul class="nav nav-pills text-center" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-general-tab" data-toggle="pill" href="#pills-general" role="tab" aria-controls="pills-general" aria-selected="true">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-seo-tab" data-toggle="pill" href="#pills-seo" role="tab" aria-controls="pills-seo" aria-selected="true">SEO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-parents-tab" data-toggle="pill" href="#pills-parents" role="tab" aria-controls="pills-parents" aria-selected="false">Parents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-modules-tab" data-toggle="pill" href="#pills-modules" role="tab" aria-controls="pills-modules" aria-selected="false">Modules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-layout-tab" data-toggle="pill" href="#pills-layout" role="tab" aria-controls="pills-layout" aria-selected="false">Layout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-media-tab" data-toggle="pill" href="#pills-media" role="tab" aria-controls="pills-media" aria-selected="false">Media</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-rel-tab" data-toggle="pill" href="#pills-rel" role="tab" aria-controls="pills-rel" aria-selected="false">Related</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-general" role="tabpanel" aria-labelledby="pills-general-tab">

                        @*<div class="form-group">
                                <label asp-for="Priority" class="control-label"></label>
                                <input asp-for="Priority" class="form-control" />
                                <span asp-validation-for="Priority" class="text-danger"></span>
                            </div>*@

                        <div class="form-group">
                            <label asp-for="Source" class="control-label"></label>
                            <input asp-for="Source" class="form-control" />
                            <span asp-validation-for="Source" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tags" class="control-label"></label>
                            <input asp-for="Tags" class="form-control tags" data-role="tagsinput" />
                            <span asp-validation-for="Tags" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        Extra Properties (<label asp-for="ExtraProperties" class="control-label"></label>)
                                        <button id="add-property" class="btn btn-primary btn-sm float-right">@Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Add New", ViewBag.culture)</button>
                                    </div>
                                    <div class="card-body">
                                        <input type="hidden" asp-for="Id" />
                                        <input type="hidden" asp-for="Specificulture" />
                                        <input type="hidden" asp-for="Priority" />
                                        <table class="table table-sm table-hover dataTable" id="tbl-properties">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col" width="5%">
                                                        <span class="oi oi-move"></span>
                                                    </th>
                                                    <th scope="col" width="5%">
                                                        <span class="oi oi-sort-ascending"></span>
                                                    </th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col" width="20%">Data Type</th>
                                                    <th scope="col">Value</th>
                                                </tr>
                                            </thead>
                                            <tbody class="sortable">
                                                @for (int i = 0; i < Model.Properties.Count; i++)
                                                {
                                                    <tr class="sortable-item product-property">
                                                        <td style="cursor:move;">
                                                            <span class="oi oi-move"></span>
                                                        </td>
                                                        <td>
                                                            <input type="text" asp-for="@Model.Properties[i].Priority" class="item-priority form-control form-control-sm d-inline" style="width:40px;" />
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.Properties[i].Name" class="form-control form-control-sm" />
                                                        </td>
                                                        <td>
                                                            <select asp-for="@Model.Properties[i].DataType" class="form-control form-control-sm prop-data-type" asp-items="@types"></select>
                                                        </td>
                                                        <td class="prop-value-container" data-index="@i" data-name="Properties[@i].Value" data-id="Properties_@(i)__Value"
                                                            data-value="@(Model.Properties[i].Value)"></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-seo" role="tabpanel" aria-labelledby="pills-seo-tab">

                        <div class="form-group">
                            <label asp-for="SeoName" class="control-label">SEO Name</label>
                            <input asp-for="SeoName" class="form-control" />
                            <span asp-validation-for="SeoName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SeoTitle" class="control-label">SEO Title</label>
                            <input asp-for="SeoTitle" class="form-control" />
                            <span asp-validation-for="SeoTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SeoDescription" class="control-label">SEO Description</label>
                            <input asp-for="SeoDescription" class="form-control" />
                            <span asp-validation-for="SeoDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SeoKeywords" class="control-label">SEO Keywords</label>
                            <input asp-for="SeoKeywords" class="form-control" />
                            <span asp-validation-for="SeoKeywords" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-parents" role="tabpanel" aria-labelledby="pills-parents-tab">

                        <div class="row">
                            <div class="col-3" style="border-right: 1px solid #eee;">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    @*<a class="nav-link" id="v-pills-position-tab" data-toggle="pill" href="#v-pills-position" role="tab" aria-controls="v-pills-position" aria-selected="false">Set positions</a>*@
                                    <a class="nav-link active show" id="v-pills-parent-tab" data-toggle="pill" href="#v-pills-parent" role="tab" aria-controls="v-pills-parent" aria-selected="true">Pages</a>
                                    @*<a class="nav-link" id="v-pills-child-tab" data-toggle="pill" href="#v-pills-child" role="tab" aria-controls="v-pills-child" aria-selected="false">Add childs</a>*@
                                    <a class="nav-link" id="v-pills-module-tab" data-toggle="pill" href="#v-pills-module" role="tab" aria-controls="v-pills-module" aria-selected="false">Modules</a>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade active show" id="v-pills-parent" role="tabpanel" aria-labelledby="v-pills-parent-tab">
                                        <ul class="nav">
                                            @for (int i = 0; i < Model.Categories.Count; i++)
                                            {
                                                <li class="col-sm-6">

                                                    <input type="hidden" asp-for="@Model.Categories[i].Specificulture" />
                                                    <input type="hidden" asp-for="@Model.Categories[i].CategoryId" />
                                                    <input type="hidden" asp-for="@Model.Categories[i].ProductId" />
                                                    <span class="switch switch-sm">
                                                        <input type="checkbox" asp-for="@Model.Categories[i].IsActived" class="switch">
                                                        <label class="switch" asp-for="@Model.Categories[i].IsActived">
                                                            @Model.Categories[i].Description
                                                        </label>
                                                    </span>

                                                    @*<div asp-for="@Model.Categories[i].IsActived" class="custom-control custom-checkbox">

                                                            <input type="checkbox" asp-for="@Model.Categories[i].IsActived"
                                                                   class="custom-control-input" />

                                                            <input type="hidden" asp-for="@Model.Categories[i].Specificulture" />
                                                            <input type="hidden" asp-for="@Model.Categories[i].CategoryId" />
                                                            <input type="hidden" asp-for="@Model.Categories[i].ProductId" />
                                                            <label class="custom-control-label" asp-for="@Model.Categories[i].IsActived">
                                                                @Model.Categories[i].Description <a asp-area="Portal" asp-controller="Module" asp-action="Details" asp-route-id="@Model.Categories[i].ProductId" style="display:initial;padding:0;" target="_blank">
                                                                </a>
                                                            </label>
                                                        </div>*@
                                                </li>

                                            }
                                        </ul>
                                    </div>
                                    @*<div class="tab-pane fade" id="v-pills-child" role="tabpanel" aria-labelledby="v-pills-child-tab">
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-position" role="tabpanel" aria-labelledby="v-pills-position-tab">
                                        </div>*@
                                    <div class="tab-pane fade" id="v-pills-module" role="tabpanel" aria-labelledby="v-pills-module-tab">
                                        <ul class="nav">
                                            @for (int i = 0; i < Model.Modules.Count; i++)
                                            {
                                                <li class="col-sm-6">
                                                    <input type="hidden" asp-for="@Model.Modules[i].Specificulture" />
                                                    <input type="hidden" asp-for="@Model.Modules[i].ProductId" />
                                                    <input type="hidden" asp-for="@Model.Modules[i].ModuleId" />
                                                    <span class="switch switch-sm">
                                                        <input type="checkbox" asp-for="@Model.Modules[i].IsActived" class="switch">
                                                        <label class="switch" asp-for="@Model.Modules[i].IsActived">
                                                            @Model.Modules[i].Description
                                                        </label>
                                                    </span>
                                                    @*<div class="custom-control custom-checkbox">
                                                            <input type="checkbox" asp-for="@Model.Modules[i].IsActived"
                                                                   class="custom-control-input" />
                                                            <label class="custom-control-label" asp-for="@Model.Modules[i].IsActived">
                                                                @Model.Modules[i].Description
                                                            </label>
                                                            <input type="hidden" asp-for="@Model.Modules[i].Specificulture" />
                                                            <input type="hidden" asp-for="@Model.Modules[i].ProductId" />
                                                            <input type="hidden" asp-for="@Model.Modules[i].ModuleId" />
                                                        </div>*@
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">

                                <label asp-for="Categories" class="control-label">Set parent pages</label>

                                <div class="form-check col-md-10">
                                    <ul class="nav">
                                        @for (int i = 0; i <Model.Categories.Count; i++)
                                        {
                                            <li class="col-sm-6">

                                                <div asp-for="@Model.Categories[i].IsActived" class="custom-control custom-checkbox">

                                                    <input type="checkbox" asp-for="@Model.Categories[i].IsActived"
                                                           class="custom-control-input" />

                                                    <input type="hidden" asp-for="@Model.Categories[i].Specificulture" />
                                                    <input type="hidden" asp-for="@Model.Categories[i].CategoryId" />
                                                    <input type="hidden" asp-for="@Model.Categories[i].ProductId" />
                                                    <label class="custom-control-label" asp-for="@Model.Categories[i].IsActived">
                                                        @Model.Categories[i].Description <a asp-area="Portal" asp-controller="Module" asp-action="Details" asp-route-id="@Model.Categories[i].ProductId" style="display:initial;padding:0;" target="_blank">
                                                        </a>
                                                    </label>
                                                </div>
                                            </li>

                                        }
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group">

                                <label asp-for="Modules" class="control-label">Set parent modules</label>
                                <div class="form-check col-md-10">
                                    <ul class="nav">
                                        @for (int i = 0; i <Model.Modules.Count; i++)
                                        {
                                            <li class="col-sm-6">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" asp-for="@Model.Modules[i].IsActived"
                                                           class="custom-control-input" />
                                                    <label class="custom-control-label" asp-for="@Model.Modules[i].IsActived">
                                                        @Model.Modules[i].Description
                                                    </label>
                                                    <input type="hidden" asp-for="@Model.Modules[i].Specificulture" />
                                                    <input type="hidden" asp-for="@Model.Modules[i].ProductId" />
                                                    <input type="hidden" asp-for="@Model.Modules[i].ModuleId" />
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>*@
                    </div>
                    <div class="tab-pane fade" id="pills-modules" role="tabpanel" aria-labelledby="pills-modules-tab">

                        <div class="form-group">
                            <label asp-for="Modules" class="control-label"></label>
                            <div class="form-check col-md-10">
                                <ul class="nav">
                                    @for (int i = 0; i < Model.ModuleNavs.Count; i++)
                                    {
                                        <li class="col-sm-6">
                                            <input type="hidden" asp-for="@Model.ModuleNavs[i].Specificulture" />
                                            <input type="hidden" asp-for="@Model.ModuleNavs[i].ProductId" />
                                            <input type="hidden" asp-for="@Model.ModuleNavs[i].ModuleId" />
                                            <span class="switch switch-sm">
                                                <input type="checkbox" asp-for="@Model.ModuleNavs[i].IsActived" class="switch">
                                                <label class="switch" asp-for="@Model.ModuleNavs[i].IsActived">
                                                    @Model.ModuleNavs[i].Description
                                                </label>
                                            </span>
                                            @*<div class="custom-control custom-checkbox">
                                                    <input type="checkbox" asp-for="@Model.ModuleNavs[i].IsActived" data-module-id="@Model.ModuleNavs[i].ModuleId" class="cb-active-module custom-control-input" />
                                                    <label class="custom-control-label" asp-for="@Model.ModuleNavs[i].IsActived">@Model.ModuleNavs[i].Description</label>
                                                    <input type="hidden" asp-for="@Model.ModuleNavs[i].Specificulture" />
                                                    <input type="hidden" asp-for="@Model.ModuleNavs[i].ProductId" />
                                                    <input type="hidden" asp-for="@Model.ModuleNavs[i].ModuleId" />
                                                </div>*@
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="control-label">Modules Data</label>
                            @foreach (var childModule in Model.ModuleNavs)
                            {
                                string cl = !childModule.IsActived ? "hidden" : string.Empty;
                                var module = childModule.Module;
                                <div class="col-md-12 @cl module-data-@childModule.ModuleId">
                                    <h1>@module.Title</h1>
                                    @*<a href="#" class="btn btn-success AddObject" moduleId="@module.Id">Add new</a>*@
                                    <table class="table table-hover table-striped" id="module-@module.Id">
                                        <thead class="thead-light">
                                            <tr>
                                                @foreach (var col in module.Columns.Where(c => c.IsDisplay))
                                                {
                                                    <th class="col-sm-@col.Width">
                                                        @col.Name
                                                    </th>
                                                }
                                                <th>Actived</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in module.Data.Items)
                                            {
                                                bool isActived = item.ProductId == Model.Id;
                                                <tr id="data-@item.Id" dataId="data-@item.Id">
                                                    @foreach (var col in module.Columns.Where(c => c.IsDisplay))
                                                    {
                                                        var prop = item.GetDataProperty(col.Name);
                                                        <td>
                                                            @{Html.RenderPartial("_ViewByFieldType", new ViewDataDictionary(this.Vi‌​ewData) { { "DataType", prop.DataType }, { "Value", prop.Value } });}
                                                        </td>
                                                    }
                                                    <td>
                                                        <input asp-for="@isActived" class="cb-active-data" dataId="@item.Id" />
                                                    </td>
                                                    <td>
                                                        <a asp-area="Portal" asp-controller="Module" asp-action="EditModuleData" asp-route-id="@item.ModuleId" asp-route-dataId="@item.Id" dataId="@item.Id" class="btn btn-sm btn-warning"><span class="oi oi-pencil"></span></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-layout" role="tabpanel" aria-labelledby="pills-layout-tab">
                        <div class="form-group">
                            @*<label asp-for="Template" class="control-label"></label>*@
                            <div class="">
                                @Html.Partial("_Editor_Code", Model.View, new ViewDataDictionary(this.ViewData) { { "Files", Model.Templates }, { "Name", "View" } })
                                @* <input asp-for="View.Filename" class="form-control" />
                                    <div class="form-control" id="code-editor" asp-for="View.Content"></div>*@
                                <span asp-validation-for="Template" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-media" role="tabpanel" aria-labelledby="pills-media-tab">
                        <section class="content container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-sm table-hover" id="tbl-related-medias">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col" width="5%">
                                                    <span class="oi oi-move"></span>
                                                </th>
                                                <th scope="col" width="5%">
                                                    <span class="oi oi-sort-ascending"></span>
                                                </th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Image</th>
                                                <th scope="col" width="5%">Showing?</th>
                                            </tr>
                                        </thead>
                                        <tbody class="sortable media-navs">

                                            @foreach (var item in Model.MediaNavs)
                                            {
                                                int index = Model.MediaNavs.IndexOf(item);

                                                <tr class="sortable-item product-property">
                                                    <td style="cursor:move;">
                                                        <span class="oi oi-move"></span>
                                                    </td>
                                                    <td>
                                                        <input type="text" asp-for="@Model.Properties[index].Priority" class="item-priority form-control form-control-sm d-inline" style="width:40px;" />
                                                    </td>
                                                    <td>
                                                        @item.Media.FileName
                                                    </td>
                                                    <td>
                                                        <a href="#" data-toggle="modal" data-target=".image-preview-modal-lg" data-whatever="@item.Media.FullPath"> <img class="card-img-top" src="@item.Media.FullPath" alt="Card image cap"> </a>
                                                    </td>
                                                    <td>
                                                        <input type="hidden" name="MediaNavs[@index].MediaId" value="@item.MediaId" />
                                                        <input type="hidden" name="MediaNavs[@index].ProductId" value="@item.ProductId" />
                                                        <input type="hidden" name="MediaNavs[@index].Position" value="@item.Position" />
                                                        <input type="hidden" name="MediaNavs[@index].Image" value="@item.Image" />
                                                        <input type="hidden" name="MediaNavs[@index].Description" value="@item.Description" />

                                                        <span class="switch switch-sm" style="position: absolute;top: 10px;">
                                                            <input type="checkbox" class="switch" data-val="true" data-val-required="The IsActived field is required." id="Media_Image_@item.MediaId" name="MediaNavs[@index].IsActived" value="@item.IsActived">
                                                            <label class="switch" for="Media_Image_@item.MediaId">
                                                                @item.Media.FileName
                                                            </label>
                                                        </span>
                                                    </td>
                                                </tr>

                                                @*<input type="hidden" name="MediaNavs[@index].MediaId" value="@item.MediaId" />
                                                    <input type="hidden" name="MediaNavs[@index].ProductId" value="@item.ProductId" />
                                                    <input type="hidden" name="MediaNavs[@index].Position" value="@item.Position" />
                                                    <input type="hidden" name="MediaNavs[@index].Image" value="@item.Image" />
                                                    <input type="hidden" name="MediaNavs[@index].Description" value="@item.Description" />
                                                    <div class="card">
                                                        <span class="switch switch-sm" style="position: absolute;top: 10px;">
                                                            <input type="checkbox" class="switch" data-val="true" data-val-required="The IsActived field is required." id="Media_Image_@item.MediaId" name="MediaNavs[@index].IsActived" value="@item.IsActived">
                                                            <label class="switch" for="Media_Image_@item.MediaId">
                                                                @item.Media.FileName
                                                            </label>
                                                        </span>
                                                        <a href="#" data-toggle="modal" data-target=".image-preview-modal-lg" data-whatever="@item.Media.FullPath"> <img class="card-img-top" src="@item.Media.FullPath" alt="Card image cap"> </a>
                                                    </div>*@
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".upload-image-modal-lg"><i class="mi mi-Add"></i></button>
                                            <button type="button" class="btn btn-secondary"><i class="mi mi-ViewAll"></i></button>
                                            <button type="button" class="btn btn-secondary"><i class="mi mi-List"></i></button>
                                            <button type="button" class="btn btn-secondary"><i class="mi mi-TabletSelected"></i></button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
                                            <div class="btn-group" role="group">
                                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    All media types
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                    <a class="dropdown-item" href="#">All media types</a>
                                                    <a class="dropdown-item" href="#">Images</a>
                                                    <a class="dropdown-item" href="#">Audios</a>
                                                    <a class="dropdown-item" href="#">Videos</a>
                                                    <a class="dropdown-item" href="#">Documents</a>
                                                    <a class="dropdown-item" href="#">Zips</a>
                                                    <a class="dropdown-item" href="#">Others</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
                                            <div class="btn-group" role="group">
                                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    All times
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                    <a class="dropdown-item" href="#">Jan 2018</a>
                                                    <a class="dropdown-item" href="#">Dec 2017</a>
                                                    <a class="dropdown-item" href="#">Nov 2017</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text " id="btnGroupAddon">
                                                <i class="mi mi-Search btn-search-media" style="top:0;cursor:pointer;"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control media-keyword" placeholder="Search media items..." aria-label="Search media items..." aria-describedby="btnGroupAddon">
                                    </div>
                                </div>
                            </div>

                            <div class="card-columns" style="column-count: 4 !important;column-gap: 0.75rem;">
                                @*<div class="card">
                                        <span class="switch switch-sm" style="position: absolute;top: 10px;">
                                            <input type="checkbox" class="switch" data-val="true" data-val-required="The IsActived field is required." id="Media_Image_0" name="Media_Image_0" value="true">
                                            <label class="switch" for="Media_Image_0">
                                                Image title...
                                            </label>
                                        </span>
                                        <a href="#" data-toggle="modal" data-target=".image-preview-modal-lg">
                                            <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22245%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20245%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1615fd2f087%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1615fd2f087%22%3E%3Crect%20width%3D%22245%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2291.7578125%22%20y%3D%2285.1%22%3E245x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
                                        </a>
                                    </div>*@
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination pull-right">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                            <div class="modal fade image-preview-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Image information</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-8"><img class="img-fluid" alt="100%x250" style="width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22782%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20782%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1615fe0964c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A39pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1615fe0964c%22%3E%3Crect%20width%3D%22782%22%20height%3D%22250%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22291.2421875%22%20y%3D%22142.4%22%3E782x250%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true"></div>
                                                <div class="col-4">
                                                    File name: Layout-2.jpg<br />
                                                    File type: image/jpeg<br />
                                                    Uploaded on: December 17, 2017<br />
                                                    File size: 189 KB<br />
                                                    Dimensions: 1000 × 1000<br />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            @*<button type="button" class="btn btn-primary">Save changes</button>*@
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade upload-image-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content model-media">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Upload media</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="background:url(/images/upload-image-thumbnail.png) no-repeat center; ">
                                            <span class="text-danger"></span>

                                            <label class="custom-file" style="min-height:150px; cursor:pointer; border: 2px dashed;">
                                                <input type="text" value="" class="title form-control" placeholder="Title" />
                                                <input type="text" value="" class="description form-control" placeholder="Description" />
                                                <img src="" name="pic" class="custom-file-img " accept="image/*" width="100%" />
                                                <input type="hidden" value="Media" class="folder-val" />
                                                <input type="file" name="pic" class="custom-file-input">
                                                <input type="text" class="form-control custom-file-val d-none">
                                            </label>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary btn-upload"><i class="mi mi-Upload"></i> Upload</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="mi mi-Cancel"></i> Dismiss</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div id="pills-rel" class="tab-pane fade">

                        <div class="row">
                            <div class="col-md-8">
                                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".upload-image-modal-lg"><i class="mi mi-Add"></i></button>
                                        @*<button type="button" class="btn btn-secondary"><i class="mi mi-ViewAll"></i></button>
                                            <button type="button" class="btn btn-secondary"><i class="mi mi-List"></i></button>*@
                                    </div>
                                    <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                All media types
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <a class="dropdown-item" href="#">All article types</a>
                                                <a class="dropdown-item" href="#">Images</a>
                                                <a class="dropdown-item" href="#">Audios</a>
                                                <a class="dropdown-item" href="#">Videos</a>
                                                <a class="dropdown-item" href="#">Documents</a>
                                                <a class="dropdown-item" href="#">Zips</a>
                                                <a class="dropdown-item" href="#">Others</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                All times
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <a class="dropdown-item" href="#">Jan 2018</a>
                                                <a class="dropdown-item" href="#">Dec 2017</a>
                                                <a class="dropdown-item" href="#">Nov 2017</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" id="btnGroupAddon"><i class="mi mi-Search" style="top:0;"></i></div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Search media items..." aria-label="Search media items..." aria-describedby="btnGroupAddon">
                                </div>
                            </div>
                        </div>
                        <div>
                            <table class="table table-sm table-hover dataTable" id="Table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" width="5%">
                                            <span class="oi oi-move"></span>
                                        </th>
                                        <th scope="col" width="5%">
                                            <span class="oi oi-sort-ascending"></span>
                                        </th>
                                        <th scope="col">Title</th>
                                        <th scope="col" width="20%">Image</th>
                                        <th scope="col" width="5%">Display</th>
                                    </tr>
                                </thead>
                                <tbody class="sortable">
                                    <tr class="sortable-item module-column">
                                        <td style="cursor:move;">
                                            <span class="oi oi-move"></span>
                                        </td>
                                        <td>
                                            <input type="text" class="item-priority form-control form-control-sm d-inline" style="width:40px;" />
                                        </td>
                                        <td>
                                            <small>Product titles</small>
                                        </td>
                                        <td>
                                            <img />
                                        </td>
                                        <td>
                                            <span class="switch switch-sm">
                                                <input type="checkbox" class="switch">
                                                <label>&nbsp;</label>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {

        $('.AddObject').click(function (e) {
            var i = $(".module-column").length;
            var moduleId = $(this).attr('moduleId');
            $('.btn-save-data').attr('moduleId', moduleId);
            $.ajax({
                url: '/vi-vn/Portal/Module/AjaxAddModuleData/' + moduleId,
                success: function (data) {
                    //$('#Table > tbody').append(data);
                    $('#modal-data .modal-body').html(data);
                    $('#modal-data').modal('show')
                },
                error: function (a, b, c) {
                    alert(a + " " + b + " " + c);
                }
            });
        });

        $(document).on('click', '.btn-edit-data', function () {

            var dataId = $(this).attr('dataId');
            $('.btn-save-data').attr('dataId', 'data-' + dataId);
            $.ajax({
                url: '/vi-vn/Portal/Module/AjaxEditModuleData/' + dataId,
                success: function (data) {
                    //$('#Table > tbody').append(data);
                    console.log(data);
                    $('#modal-data .modal-body').html(data);
                    $('#modal-data').modal('show');
                },
                error: function (a, b, c) {
                    alert(a + " " + b + " " + c);
                }
            });
        });

        $(document).on('click', '.btn-save-data', function (e) {

            var container = $('#module-' + $(this).attr('moduleId'));
            var dataId = $(this).attr('dataId');
            e.preventDefault();
            var frm = $('#frm-data');
            var url = '/vi-vn/Portal/Module/AjaxSaveModuleData';
            //SW.Common.ajaxSubmitForm(frm, url);
            var data = frm.serialize();
            $.ajax({
                type: 'Post',
                url: '/vi-vn/Portal/Module/AjaxSaveModuleData', //frm.attr('action'),
                data: data,
                success: function (data) {
                    if (dataId != '') {
                        $('#' + dataId).replaceWith(data);
                    } else {
                        $(container).find('tbody').append(data);

                    }

                    $('#modal-data').modal('hide');
                },
                error: function (data) {
                    SW.Common.showError(data.toSource());
                },
            });
        });

        $(document).on('ifChanged', '.cb-active-data', function (e) {
            var productId = $('#Id').val();
            var dataId = $(this).attr('dataId');
            $.ajax({
                type: 'GET',
                url: '/vi-vn/Portal/Module/AjaxAtiveModuleData/' + productId + '/' + dataId + '/' + $(this).is(':checked'),
                success: function (data) {
                },
                error: function (a, b, c) {
                    alert(a + " " + b + " " + c);
                }
            });
        })

        $(document).on('ifChanged', '.cb-active-module', function (e) {
            var moduleid = $(this).data('module-id');
            $('.module-data-' + moduleid).toggleClass('hidden');

        });
        $('#add-property').click(function () {
            var i = $(".product-property").length;
            $.ajax({
                url: '/vi-vn/Portal/products/AddEmptyProperty/' + i,
                success: function (data) {
                    $('#tbl-properties > tbody').append(data);
                    $(data).find('.prop-data-type').trigger('change');
                },
                error: function (a, b, c) {
                    alert(a + " " + b + " " + c);
                }
            });
        });

        $(document).on('change', '.prop-data-type', function () {
            var container = $(this).parents('tr').first().find('.prop-value-container');
            var dataType = $(this).val();
            var index = container.data('index');
            var inputName = container.data('name');
            var inputId = container.data('id');
            var inputValue = container.data('value');
            $.ajax({
                method: 'POST',
                data: { index: index, type: dataType, id: inputId, name: inputName, value: inputValue },
                url: '/vi-vn/Portal/products/GetEditor',// + index + '/' + dataType + '/' + inputId + '/' + inputName + '/' + inputValue,
                success: function (data) {
                    container.html(data);
                    $('.editor-content').trumbowyg();

                },
                error: function (a, b, c) {
                    alert(a + " " + b + " " + c);
                }
            });
        });
        $('.prop-data-type').change();

        function loadMedia(pageIndex = 0) {
            var keyword = $('.media-keyword').val();
            var pageSize = 12;
            var orderBy = 'createdDateTime';
            var direction = 1;

            SW.Common.loadMedia(function (response) {

                var container = $('.card-columns');
                $(container).empty();
                var html = '';
                var index = $('.media-navs').find('.card').length;
                $.each(response.data.items, function (i, e) {

                    var isActived = $('.media-navs').find('media-' + e.id).length == 1;
                    html += '<div class="card media-' + e.id + '" data-media-id="' + e.id + '" > \
                        <input type="hidden" name="MediaNavs['+e.id+'].MediaId" value="' + e.id + '" />\
                        <input type= "hidden" name="MediaNavs['+e.id+'].ProductId" value="' + '@Model.Id' + '" />\
                        <input type="hidden" name="MediaNavs['+ e.id + '].Specificultre" value="' + e.specificulture + '" />\
                        <input type="hidden" name="MediaNavs['+ e.id + '].Priority" value="0" />\
                        <input type="hidden" name="MediaNavs['+ e.id +'].Image" value="' + e.fullPath + '" />\
                        <input type="hidden" name="MediaNavs['+ e.id + '].Description" value="' + e.title + '" />\
                        <input type="hidden" name="MediaNavs['+ e.id + '].IsActived" value="' + true + '" />\
                    <span class="switch switch-sm" style="position: absolute;top: 10px;" > \
                                <input type="checkbox" class="switch cb-media" data-media-id="' + e.id + '"\
                        data-val-required="The IsActived field is required."\
                                        id = "MediaNavs1_['+ e.id +']__IsActived" name= "MediaNavs[' + e.id +'].IsActived"\
                                    value = "' + isActived + '" >\
                                    <label class="switch" for="MediaNavs1_['+e.id+']__IsActived">\
                                        \
                                                    </label>\
                                                </span>\
                    <a href="#" data-toggle="modal" data-target=".image-preview-modal-lg" data-imgsrc="'+ e.fullPath + '">\
                                    <img class="card-img-top" src="'+ e.fullPath + '" alt="Card image cap">\
                                                </a>\
                        </div>';
                    index++;
                });
                $(container).append(html);
                var pagination = $('.pagination');
                console.log($(pagination).html);
                $(pagination).empty();

                for (var i = 0; i < response.data.totalPage; i++) {
                    var li = document.createElement('li');
                    var pageIndex = i;
                    $(li).addClass('page-item');

                    if (i == response.data.pageIndex) {
                        $(li).addClass('active');
                    }

                    var a = document.createElement('a');
                    $(a).attr('href', 'javascript:void(0)');
                    $(a).addClass('page-link');
                    $(a).html(i + 1);
                    $(li).append(a);
                    $(pagination).append(li);
                }
            },
                keyword, pageSize, pageIndex
            )
        }

        $(document).on('click', '.page-link', function () {
            var pageIndex = $(this).html() - 1;
            loadMedia(pageIndex);
        })
        $('.btn-search-media').on('click', function () { loadMedia(); });

        $(document).on('click', '.model-media .btn-upload', function () {
            var container = $(this).parents('.model-media').first().find('.custom-file').first();
            var file = $('.model-media .custom-file-input').first().prop('files')[0];
            if (file !== undefined && file !== null) {
                //SW.Common.getBase64(file, $('.custom-file')).then(result => console.log(result));
                //await SW.Common.getBase64(file).then(result => console.log(result));
                var fileName = SW.Common.uploadImage(file, container);
                if (fileName !== "") {
                    $('.upload-image-modal-lg').modal('toggle');
                    loadMedia();
                }
            }
        });
        $(document).on('change', '.cb-media', function () {
            if ($(this).is(':checked')) {
                var id = ($(this).data('media-id'));
                if ($('.media-navs').find('media-' + id).length == 0) {
                    var nav = $(this).parents('.card').first();
                    var index = '[' + $('.media-navs').find('.card').length + ']';
                    var t = '[' + id + ']';
                    var div = nav.clone();

                    @*var html += '<tr class="sortable-item  media-' + e.id + '" data-media-id="' + e.id + '" > \
	<td style="cursor:move;"> \
		<span class="oi oi-move"> \</span> \
	</td> \
	<td> \
		<input type="text" asp-for="MediaNavs['+ e.id + '].Priority" class="item-priority form-control form-control-sm d-inline" style="width:40px;" /> \
	</td> \
	<td> ' + e.title + ' </td> \
	<td> \
		<a href="#" data-toggle="modal" data-target=".image-preview-modal-lg" data-imgsrc="'+ e.fullPath + '">\
                                    <img class="card-img-top" src="'+ e.fullPath + '" alt="Card image cap">\
                                                </a>\
	</td> \
	<td> \
		<input type="hidden" name="MediaNavs['+ e.id + '].MediaId" value="' + e.id + '" />\
		<input type= "hidden" name="MediaNavs['+ e.id + '].ProductId" value="' + '@Model.Id' + '" />\
		<input type="hidden" name="MediaNavs['+ e.id + '].Specificultre" value="' + e.specificulture + '" />\
		<input type="hidden" name="MediaNavs['+ e.id + '].Priority" value="0" />\
		<input type="hidden" name="MediaNavs['+ e.id + '].Image" value="' + e.fullPath + '" />\
		<input type="hidden" name="MediaNavs['+ e.id + '].Description" value="' + e.title + '" />\
		<input type="hidden" name="MediaNavs['+ e.id + '].IsActived" value="' + true + '" />\
		<span class="switch switch-sm" style="position: absolute;top: 10px;" > \
                                <input type="checkbox" class="switch cb-media" data-media-id="' + e.id + '"\
                        data-val-required="The IsActived field is required."\
                                        id = "MediaNavs1_['+ e.id + ']__IsActived" name= "MediaNavs[' + e.id + '].IsActived"\
                                    value = "' + isActived + '" >\
                                    <label class="switch" for="MediaNavs1_['+ e.id + ']__IsActived">\
                                                    </label>\
                                                </span>\
	</td> \
</tr>';*@

                    div.html(div.html().replace(new RegExp("\\" + t, "gm"), index));
                    div.html(div.html().replace(new RegExp("\\MediaNavs1", "gm"), 'MediaNavs'));
                    $('.media-navs').append(div);
                    $(div).find('.cb-media').prop('checked', true);
                    nav.hide();
                }
            }
        })
        loadMedia();
    }
</script>
<script>
</script>