@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using System.Globalization
@using TTS.Lib.ViewModels;
@model List<SWCategoryMenuData>
@inject SignInManager<Swastika.Identity.Models.ApplicationUser> SignInManager
@inject UserManager<Swastika.Identity.Models.ApplicationUser> UserManager
@{
    var socialModule = TTS.Lib.Repositories.SWModuleRepository<FEModuleData>.Instance.GetSingleModel(m => m.Name == "Socials" && m.Specificulture == ViewContext.RouteData.Values["culture"].ToString());

}
<header id="header">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-4">
                    <div class="top-number"><p><i class="fa fa-phone-square"></i>  @LocalizerService.GetLocalString("Phone", ViewBag.culture)</p></div>
                </div>
                <div class="col-sm-6 col-xs-8">
                    <div class="social">

                        @if (socialModule != null)
                        {
                            await Html.RenderPartialAsync(socialModule.Template, socialModule);
                        }
                        @Html.Partial("_PartialSelectLanguage")


                        <div class="search">
                            <form role="form" asp-controller="Home" asp-action="Search">
                                <input type="text" name="keyword" class="search-form" autocomplete="off" placeholder="Search">
                                <i class="fa fa-search"></i>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </div><!--/.top-bar-->

    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-route-culture="@ViewBag.culture"><img src="@LocalizerService.GetLocalString("Logo",ViewBag.culture)" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">

                <ul class="nav navbar-nav">

                    @foreach (var cate in Model)
                    {
                        string action = cate.Type.ToString();
                        switch (cate.Type)
                        {
                            case Swastika.Common.Constants.CateType.Blank:
                                string pageNames = string.Join(",", cate.Childs.Select(c => c.Seotitle).ToList());
                                <li is-active-menu asp-controllers="Home" asp-action=",Home" asp-route-pagenames="@pageNames" pages="@pageNames" class="dropdown">
                                    <a href=": " ";" target="_blank" class="dropdown-toggle" data-toggle="dropdown">
                                        @cate.Title <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        @foreach (var childNav in cate.Childs)
                                        {
                                            action = childNav.Type.ToString();
                                            <li is-active-menu asp-controllers="Home" asp-action=",Home" asp-route-pagenames="@childNav.Seotitle">
                                                <a asp-route-culture="@ViewBag.culture" asp-controller="Home" asp-action="Home" asp-route-pageName="@childNav.Seotitle">@childNav.Title</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                break;
                            case Swastika.Common.Constants.CateType.Home:
                                <li is-active-menu asp-controllers="Home" asp-action="Home" asp-route-pagenames=",@cate.Seotitle">
                                    @*<a href="@href">@cate.Title</a>*@
                                    <a asp-route-culture="@ViewBag.culture" asp-controller="Home" asp-action="Home" asp-route-pageName="">@cate.Title</a>
                                </li>
                                break;
                            case Swastika.Common.Constants.CateType.StaticUrl:
                                <li>
                                    @*<a href="@href">@cate.Title</a>*@
                                    <a href="@cate.StaticUrl">@cate.Title</a>
                                </li>
                                break;
                            default:
                                <li is-active-menu asp-controllers="Home" asp-action="Home" asp-route-pagenames="@cate.Seotitle">
                                    @*<a href="@href">@cate.Title</a>*@
                                    <a asp-route-culture="@ViewBag.culture" asp-controller="Home" asp-action="Home" asp-route-pageName="@cate.Seotitle">@cate.Title</a>
                                </li>
                                break;
                        }

                    }

                </ul>

            </div>
        </div><!--/.container-->
    </nav><!--/nav-->

</header><!--/header-->