@using Swastika.Identity.Models.AccountViewModels;
@model RegisterViewModel
@{
    Layout = "_Layout_Corlate";
    ViewData["Title"] = "Register";
}
<section id="register">
    <div class="container">
        <div class="row">
            <form asp-area="Portal" asp-controller="Auth" asp-action="Register" asp-route-returnurl="@ViewData[" ReturnUrl"]" method="post" class="form-horizontal">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NickName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NickName" class="form-control" />
                        <span asp-validation-for="NickName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UserClaims" class="col-md-2 control-label"></label>
                    @for (int i = 0; i < Model.UserClaims.Count; i++)
                    {
                    <div class="col-sm-2">
                        <input type="checkbox" asp-for="@Model.UserClaims[i].Selected" />
                        <label asp-for="@Model.UserClaims[i].Selected">@Model.UserClaims[i].Text</label>
                        <input type="hidden" asp-for="@Model.UserClaims[i].Value" />
                        <input type="hidden" asp-for="@Model.UserClaims[i].Text" />
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
