@inject UserManager<ApplicationUser> UserManager

@{
    string currentController = ViewContext.RouteData.Values["Controller"] == null ? string.Empty : ViewContext.RouteData.Values["Controller"].ToString();
    string currentAction = ViewContext.RouteData.Values["Action"] == null ? string.Empty : ViewContext.RouteData.Values["Action"].ToString();
    string currentArea = ViewContext.RouteData.Values["Area"] == null ? string.Empty : ViewContext.RouteData.Values["Area"].ToString();
    string currentId = ViewContext.RouteData.Values["Id"] == null ? string.Empty : ViewContext.RouteData.Values["Id"].ToString();
    var cultures = LanguageService.GetSupportedCultures();

    ApplicationUser appuser = await UserManager.FindByIdAsync(UserManager.GetUserId(User) ?? string.Empty);
}

<a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Swastika I/O">
    <img src="~/css/portal/img/swastika-io-logo-blue.png" alt="Swastika I/O" width="35px">
</a>

<button type="button" id="sidebarCollapse" class="btn btn-link">
    <span class="oi oi-menu"></span>
</button>

<div class="navbar-nav-scroll">
    @await Component.InvokeAsync(typeof(Swastika.Cms.Mvc.Areas.Portal.ViewComponents.Breadcrumbs))
</div>

<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

    <li class="nav-item mr-2">
        <a class="nav-link p-2" href="#" data-toggle="modal" data-target="#modal-files">
            <i class="mi mi-Media"></i>
        </a>
    </li>
    <li class="nav-item dropdown mr-2">
        <a class="nav-link p-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="mi mi-World"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sw-versions">
            @foreach (var culture in cultures)
            {
                string cl = ViewBag.culture == culture.Specificulture ? "active" : string.Empty;
                <a asp-route-culture="@culture.Specificulture"
                   asp-area="@currentArea"
                   asp-controller="@currentController"
                   asp-action="@currentAction"
                   asp-route-id="@currentId" class="dropdown-item @cl">
                    <span class="flag-icon @culture.Icon"></span> @culture.Description
                </a>
            }
        </div>
    </li>
    @*<li class="nav-item dropdown mr-2">
            <a class="nav-item nav-link text-success" href="#" id="sw-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="mi mi-ActionCenterMirrored"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sw-versions">
                <a class="dropdown-item active" href="#">Lorem...</a>
                <a class="dropdown-item" href="#">Lorem...</a>
                <a class="dropdown-item" href="#">Lorem...</a>
                <a class="dropdown-item" href="#">Lorem...</a>
            </div>
        </li>*@
    <li class="nav-item mr-2">
        <form asp-area="Portal" asp-controller="Auth" asp-action="Logout" method="post" id="logoutForm" class="">
            <a class="nav-link p-2 text-danger" href="#" onclick="document.getElementById('logoutForm').submit();" rel="noopener" aria-label="Logout">
                <i class="mi mi-PowerButton"></i>
            </a>
        </form>
    </li>
</ul>
@if (appuser != null)
{
    <a href="/@ViewBag.culture/portal/profile" title="@UserManager.GetUserName(User)">
        @Html.GravatarImage(
                                 await UserManager.GetEmailAsync(appuser),
                                 size: 36,
                                 defaultImage: GravatarHtmlHelper.DefaultImage.Identicon,
                                 rating: GravatarHtmlHelper.Rating.PG,
                                 cssClass: "rounded-circle sw-avatar"
                             )
    </a>
}
