@model Swastika.Cms.Lib.ViewModels.FrontEnd.FECategoryViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["SeoTitle"] = Model.SeoTitle;
    ViewData["SeoKeywords"] = Model.SeoKeywords;
    ViewData["SeoDescription"] = Model.SeoDescription;
}
@if (!string.IsNullOrEmpty(Model.TemplatePath))
{
    @LocalizerService.GetLocalString("Phone", "vi-vn", "")
    try
    {
        @Html.Partial(Model.TemplatePath, Model)
    }
    catch (System.InvalidOperationException invalidOperationException)
    {
        <p class="danger text-center has-error">Unable load template with Exception detail below:</p>
        <code>
            @invalidOperationException
        </code>

    }
    catch (Exception ex)
    {
        @ex
        <p class="danger text-center has-error">Unable load template</p>
    }
}
else
{
    <section class="container">
        <h1>@Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Please choose template", ViewBag.culture)</h1>
    </section>
}

@section scripts{
    @Html.Raw(Model.View?.Scripts)
<link href="~/css/portal/main.css" rel="stylesheet" />
    <script src="~/js/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>
    <script src="~/js/plugins/ng-file-upload-bower-12.2.13/ng-file-upload-all.js"></script>
    <script src="~/app-shared/plugins/bootstrap-notify.min.js"></script>
    <script src="~/js/plugins/ng-file-upload-bower-12.2.13/ng-file-upload-shim.js"></script>
    <script src="~/app-shared/plugins/angular-local-storage.min.js"></script>
    <script src="~/app-client/app.js"></script>
    @*<script src="~/app/app-frontend.js"></script>
        <script src="~/app/controllers/frontend-controller.js"></script>*@

    <script src="~/app-client/shared/services/common-services.js"></script>
    <script src="~/app-client/shared/services/auth-services.js"></script>
    <!--module-data-->
    <script src="~/app-shared/components/module-data/module-data-services.js"></script>
    <script src="~/app-shared/components/module-data/module-data-controller.js"></script>
    <script src="~/app-client/components/module-data/module-form.js"></script>

    <script src="~/app-shared/components/confirm/confirm.js"></script>
    <script src="~/app-shared/components/message/message.js"></script>
}
@section styles{
    @Html.Raw(Model.View?.Styles)
}
