@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Swastika.Cms.Lib.ViewModels.Info.ModuleDataValueViewModel Model = (Swastika.Cms.Lib.ViewModels.Info.ModuleDataValueViewModel)this.ViewData["Model"];
    string name = (string)this.ViewData["Name"];
    int index = (int)this.ViewData["Index"];
    string inputId = string.Format("{0}_{1}__StringValue", name, index);
    string inputName = string.Format("{0}[{1}].StringValue", name, index);

}

@section Styles
    {
}
<div class="form-group">

    <label class="control-label">@Model.Name</label>

    @switch (Model.DataType)
    {
        case Swastika.Cms.Lib.SWCmsConstants.DataType.Image:
            string img = Model != null ? Model.StringValue : "http://placehold.it/200x200";
            <label class="custom-file">
                @*<a href="javascript:void(0)" class="link danger lnk-remove">Remove</a>*@
                <input type="hidden" value="Modules/@Model.ModuleId" class="folder-val" />
                <img src="@img" name="pic" class="custom-file-img image" accept="image/*" />
                <input type="file" id="file" name="pic" class="custom-file-input">
                <input type="text" id="@inputId" name="@inputName" value="@Model.Value" class="custom-file-val form-control" />
                <span class="custom-file-control">Browse</span>
            </label>

            break;
        case Swastika.Cms.Lib.SWCmsConstants.DataType.Icon:
            <div class="no-margin no-padding">
                <select class="form-control selectpicker" id="@inputId" name="@inputName" data-val="@Model.Value">
                    <option value="fa fa-envelope" data-content="<span><i class='fa fa-1x fa-envelope'></i></span>"></option>

                    <option value="fa fa-facebook" data-content="<span><i class='fa fa-1x fa-facebook'></i></span>"></option>
                    <option value="fa fa-twitter" data-content="<span><i class='fa fa-1x fa-twitter'></i></span>"></option>
                    <option value="fa fa-linkedin" data-content="<span><i class='fa fa-1x fa-linkedin'></i></span>"></option>
                    <option value="fa fa-skype" data-content="<span><i class='fa fa-1x fa-skype'></i></span>"></option>

                    <option value="fa fa fa-car" data-content="<span><i class='fa fa fa-car'></i></span>"></option>
                    <option value="fa fa fa-building" data-content="<span><i class='fa fa-building'></i></span>"></option>
                    <option value="fa fa fa-language" data-content="<span><i class='fa fa-language'></i></span>"></option>
                    <option value="fa fa fa-paper-plane-o" data-content="<span><i class='fa fa fa-paper-plane-o'></i></span>"></option>
                    <option value="fa fa fa-users" data-content="<span><i class='fa fa fa-users'></i></span>"></option>
                    <option value="fa fa fa-ticket" data-content="<span><i class='fa fa fa-ticket'></i></span>"></option>

                    <option value="now-ui-icons objects_globe" data-content="<span><i class='fa fa-1x now-ui-icons objects_globe'></i></span>"></option>
                    <option value="now-ui-icons tech_watch-time" data-content="<span><i class='fa fa-1x now-ui-icons tech_watch-time'></i></span>"></option>
                    <option value="now-ui-icons education_atom" data-content="<span><i class='fa fa-1x now-ui-icons education_atom'></i></span>"></option>
                </select>
            </div>
            break;
        case Swastika.Cms.Lib.SWCmsConstants.DataType.Html:
            <div class="form-group">
                <textarea id="@inputId" name="@inputName" class="form-control editor-content"></textarea>
            </div>
            break;
        case Swastika.Cms.Lib.SWCmsConstants.DataType.TextArea:
            <textarea id="@inputId" name="@inputName" class="form-control">@Model.Value</textarea>
            break;
        case Swastika.Cms.Lib.SWCmsConstants.DataType.MdTextArea:
            <textarea id="@inputId" name="@inputName" class="form-control markdown-editor">@Model.Value</textarea>
            break;
        case Swastika.Cms.Lib.SWCmsConstants.DataType.Boolean:
            Model.Value = Model.Value ?? false;
            <label class="form-check-label">
                <input class="form-check"
                       data-val="@Model.Value" data-val-required="The IsDisplay field is required."
                       type="checkbox" value="true"
                       id="@inputId" name="@inputName" />
            </label>
            break;
        default:
            <input class="form-control" type="text" id="@inputId" name="@inputName" value="@Model.Value">
            break;
    }
</div>

<script>
    $(document).ready(function () {
        $('.editor-content').trumbowyg();
    });
</script>