@model BETemplateViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.IsAdmin = true;
    string isHidden = ViewBag.IsAdmin ? string.Empty : "hidden";
    bool isCreate = ViewContext.RouteData.Values["action"].ToString().ToLower() == "create";

    List<BETemplateViewModel> files = (List<BETemplateViewModel>)this.ViewData["Files"];
    files = files ?? new List<BETemplateViewModel>();
    string name = (string)this.ViewData["Name"];

    string inpName_TemplateName = string.IsNullOrEmpty(name) ? "TemplateName" : string.Format("{0}.TemplateName", name);
    string inpId_TemplateName = string.IsNullOrEmpty(name) ? "TemplateName" : string.Format("{0}_TemplateName", name);

    string inpName_TemplateId = string.IsNullOrEmpty(name) ? "TemplateId" : string.Format("{0}.TemplateId", name);
    string inpId_TemplateId = string.IsNullOrEmpty(name) ? "TemplateId" : string.Format("{0}_TemplateId", name);

    string inpName_Id = string.IsNullOrEmpty(name) ? "Id" : string.Format("{0}.Id", name);
    string inpId_Id = string.IsNullOrEmpty(name) ? "Id" : string.Format("{0}_Id", name);

    string inpName_FolderType = string.IsNullOrEmpty(name) ? "FolderType" : string.Format("{0}.FolderType", name);
    string inpFolderType_FolderType = string.IsNullOrEmpty(name) ? "FolderType" : string.Format("{0}_FolderType", name);

    string inpName_FileFolder = string.IsNullOrEmpty(name) ? "FileFolder" : string.Format("{0}.FileFolder", name);
    string inpId_FileFolder = string.IsNullOrEmpty(name) ? "FileFolder" : string.Format("{0}_FileFolder", name);

    string inpName_Extension = string.IsNullOrEmpty(name) ? "Extension" : string.Format("{0}.Extension", name);
    string inpId_Extension = string.IsNullOrEmpty(name) ? "Extension" : string.Format("{0}_Extension", name);

    string inpName_CreatedDateTime = string.IsNullOrEmpty(name) ? "CreatedDateTime" : string.Format("{0}.CreatedDateTime", name);
    string inpId_CreatedDateTime = string.IsNullOrEmpty(name) ? "CreatedDateTime" : string.Format("{0}_CreatedDateTime", name);

    string inpName_LastModified = string.IsNullOrEmpty(name) ? "LastModified" : string.Format("{0}.LastModified", name);
    string inpId_LastModified = string.IsNullOrEmpty(name) ? "LastModified" : string.Format("{0}_LastModified", name);

    string inpName_ModifiedBy = string.IsNullOrEmpty(name) ? "ModifiedBy" : string.Format("{0}.ModifiedBy", name);
    string inpId_ModifiedBy = string.IsNullOrEmpty(name) ? "ModifiedBy" : string.Format("{0}_ModifiedBy", name);

    string inpName_Filename = string.IsNullOrEmpty(name) ? "Filename" : string.Format("{0}.Filename", name);
    string inpId_Filename = string.IsNullOrEmpty(name) ? "Filename" : string.Format("{0}_Filename", name);

    string inpName_Content = string.IsNullOrEmpty(name) ? "Content" : string.Format("{0}.Content", name);
    string inpId_Content = string.IsNullOrEmpty(name) ? "Content" : string.Format("{0}_Content", name);

    string inpName_MobileContent = string.IsNullOrEmpty(name) ? "MobileContent" : string.Format("{0}.MobileContent", name);
    string inpId_MobileContent = string.IsNullOrEmpty(name) ? "MobileContent" : string.Format("{0}_MobileContent", name);

    string inpName_SpaContent = string.IsNullOrEmpty(name) ? "SpaContent" : string.Format("{0}.SpaContent", name);
    string inpId_SpaContent = string.IsNullOrEmpty(name) ? "SpaContent" : string.Format("{0}_SpaContent", name);

    string inpName_Scripts = string.IsNullOrEmpty(name) ? "Scripts" : string.Format("{0}.Scripts", name);
    string inpId_Scripts = string.IsNullOrEmpty(name) ? "Scripts" : string.Format("{0}_Scripts", name);

    string inpName_Styles = string.IsNullOrEmpty(name) ? "Styles" : string.Format("{0}.Styles", name);
    string inpId_Styles = string.IsNullOrEmpty(name) ? "Styles" : string.Format("{0}Styles", name);

    var templates = new SelectList(files, "Content", "FileName");
}

<div>
    <div class="form-group">

        @*<input id="@inputId" name="@inputName" value="@Model.Filename" class="form-control sel-filename" />*@
        <input type="hidden" id="@inpId_TemplateName" name="@inpName_TemplateName" value="@Model.TemplateName">
        <input type="hidden" id="@inpId_TemplateId" name="@inpName_TemplateId" value="@Model.TemplateId">
        <input type="hidden" id="@inpId_Id" name="@inpName_Id" value="@Model.Id">
        <input type="hidden" id="@inpId_FileFolder" name="@inpName_FileFolder" value="@Model.FileFolder">
        <input type="hidden" id="@inpId_Extension" name="@inpName_Extension" value="@Model.Extension">
        <input type="hidden" id="@inpId_CreatedDateTime" name="@inpName_CreatedDateTime" value="@Model.CreatedDateTime">
        <input type="hidden" id="@inpId_LastModified" name="@inpName_LastModified" value="@Model.LastModified">
        <input type="hidden" id="@inpId_ModifiedBy" name="@inpName_ModifiedBy" value="@Model.ModifiedBy">
        <div class="input-group mb-3">

            @if (files.Count > 0)
            {
                <select asp-for="FileName" asp-items="@templates" id="sel-template" class="btn btn-outline-secondary custom-select col-sm-4">
                    <option value="<div></div>" selected="selected">--- Seclect Template Layout ---</option>
                    <option value="<div></div>">[ NEW TEMPLATE ]</option>
                </select>
            }

            <input class="form-control sel-filename" type="text" id="@inpId_Filename" name="@inpName_Filename" value="@Model.FileName" placeholder="Input template name here...">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header-nav-pills">
                <ul class="nav nav-pills text-center" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="pills-template-razor-tab" data-toggle="pill" href="#pills-template-razor" role="tab" aria-controls="pills-template-razor" aria-selected="true">Razor Template</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-template-general-tab" data-toggle="pill" href="#pills-template-general" role="tab" aria-controls="pills-template-general" aria-selected="true">General Template</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-template-mobile-tab" data-toggle="pill" href="#pills-template-mobile" role="tab" aria-controls="pills-template-mobile" aria-selected="false">Mobile Template</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-template-others-tab" data-toggle="pill" href="#pills-template-others" role="tab" aria-controls="pills-template-others" aria-selected="false">Others</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="pills-tabContent">

                    <div class="tab-pane fade active show" id="pills-template-razor" role="tabpanel" aria-labelledby="pills-template-razor-tab">

                        <div class="container-code-editor">
                            <div class="form-control" id="code-editor">@(Model.Content)</div>
                            <input class="form-control code-content" type="hidden" id="@inpId_Content" name="@inpName_Content" value="@(Model.Content)">
                        </div>
                    </div>
                    <div class="tab-pane fade " id="pills-template-general" role="tabpanel" aria-labelledby="pills-template-general-tab">

                        <div class="container-code-editor">

                            <div class="form-control code-editor">@(isCreate ? "" : Model.SpaContent)</div>
                            <input class="form-control code-content" type="hidden" id="@inpId_SpaContent" name="@inpName_SpaContent" value="@(Model.SpaContent)">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-template-mobile" role="tabpanel" aria-labelledby="pills-template-mobile-tab">

                        <div class="container-code-editor">

                            <div class="form-control code-editor json">@(isCreate ? "" : Model.MobileContent)</div>
                            <input class="form-control code-content" type="hidden" id="@inpId_MobileContent" name="@inpName_MobileContent" value="@(Model.MobileContent)">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-template-others" role="tabpanel" aria-labelledby="pills-template-others-tab">

                        <div class="row">
                            <div class="col-3">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link active show" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">Scripts</a>
                                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Styles</a>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                                        <div class="container-code-editor">
                                            <div class="form-control code-editor">@(isCreate ? "" : Model.Scripts)</div>
                                            <input class="form-control code-content" type="hidden" id="@inpId_Scripts" name="@inpName_Scripts" value="@(Model.Scripts)">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade active show" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                        <div class="container-code-editor">
                                            <div class="form-control code-editor">@(isCreate ? "" : Model.Styles)</div>
                                            <input class="form-control code-content" type="hidden" id="@inpId_Styles" name="@inpName_Styles" value="@(Model.Styles)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>