@using Microsoft.AspNetCore.Mvc.Localization

@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.IsAdmin = true;
}
<!doctype html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*@
    <meta name="viewport" content="width=1920">

    <link rel="stylesheet" href="~/css/portal/portal.white.min.css">
    <link href="~/css/open-iconic/open-iconic-bootstrap.min.css" rel="stylesheet">

    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap4-tagsinput-4.1.2/tagsinput.css" rel="stylesheet" />

    <style>
        .sw-content {
            width: 100% !important;
        }
    </style>
    @RenderSection("Styles", required: false)


    <script src="//cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>

</head>

<body>

    <header class="navbar navbar-expand flex-column flex-md-row sw-navbar">

        <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Swastika I/O">
            <img src="~/css/portal/img/swastika-io-logo-blue.png" alt="Kiwi standing on oval" width="35px">
        </a>

        <button type="button" id="sidebarCollapse" class="btn btn-link">
            <span class="oi oi-menu"></span>
        </button>


        <div class="navbar-nav-scroll">
            @await Component.InvokeAsync(typeof(Swastika.Cms.Mvc.Areas.Portal.ViewComponents.Breadcrumbs))

        </div>

        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item dropdown">
                <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="sw-versions" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Notification
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sw-versions">
                    <a class="dropdown-item active" href="#">Lorem...</a>
                    <a class="dropdown-item" href="#">Lorem...</a>
                    <a class="dropdown-item" href="#">Lorem...</a>
                    <a class="dropdown-item" href="#">Lorem...</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link p-2" href="#" target="_blank" rel="noopener" aria-label="GitHub">
                    <svg class="navbar-nav-svg" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 499.36" focusable="false">
                        <title>GitHub</title>
                        <path d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"
                              fill="currentColor" fill-rule="evenodd" />
                    </svg>

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" href="#" target="_blank" rel="noopener" aria-label="Twitter">
                    <svg class="navbar-nav-svg" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 416.32" focusable="false">
                        <title>Twitter</title>
                        <path d="M160.83 416.32c193.2 0 298.92-160.22 298.92-298.92 0-4.51 0-9-.2-13.52A214 214 0 0 0 512 49.38a212.93 212.93 0 0 1-60.44 16.6 105.7 105.7 0 0 0 46.3-58.19 209 209 0 0 1-66.79 25.37 105.09 105.09 0 0 0-181.73 71.91 116.12 116.12 0 0 0 2.66 24c-87.28-4.3-164.73-46.3-216.56-109.82A105.48 105.48 0 0 0 68 159.6a106.27 106.27 0 0 1-47.53-13.11v1.43a105.28 105.28 0 0 0 84.21 103.06 105.67 105.67 0 0 1-47.33 1.84 105.06 105.06 0 0 0 98.14 72.94A210.72 210.72 0 0 1 25 370.84a202.17 202.17 0 0 1-25-1.43 298.85 298.85 0 0 0 160.83 46.92"
                              fill="currentColor" />
                    </svg>

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" href="#" target="_blank" rel="noopener" aria-label="Slack">
                    <svg class="navbar-nav-svg" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" focusable="false">
                        <title>Slack</title>
                        <path fill="currentColor" d="M210.787 234.832l68.31-22.883 22.1 65.977-68.309 22.882z" />
                        <path d="M490.54 185.6C437.7 9.59 361.6-31.34 185.6 21.46S-31.3 150.4 21.46 326.4 150.4 543.3 326.4 490.54 543.34 361.6 490.54 185.6zM401.7 299.8l-33.15 11.05 11.46 34.38c4.5 13.92-2.87 29.06-16.78 33.56-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18l-11.46-34.38-68.36 22.92 11.46 34.38c4.5 13.92-2.87 29.06-16.78 33.56-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18l-11.46-34.43-33.15 11.05c-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18c-4.5-13.92 2.87-29.06 16.78-33.56l33.12-11.03-22.1-65.9-33.15 11.05c-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18c-4.48-13.93 2.89-29.07 16.81-33.58l33.15-11.05-11.46-34.38c-4.5-13.92 2.87-29.06 16.78-33.56s29.06 2.87 33.56 16.78l11.46 34.38 68.36-22.92-11.46-34.38c-4.5-13.92 2.87-29.06 16.78-33.56s29.06 2.87 33.56 16.78l11.47 34.42 33.15-11.05c13.92-4.5 29.06 2.87 33.56 16.78s-2.87 29.06-16.78 33.56L329.7 194.6l22.1 65.9 33.15-11.05c13.92-4.5 29.06 2.87 33.56 16.78s-2.88 29.07-16.81 33.57z"
                              fill="currentColor" />
                    </svg>

                </a>
            </li>
        </ul>
        <img class="rounded-circle sw-avatar" alt="200x200" src="https://avatars1.githubusercontent.com/u/3785721?s=40&v=4" data-holder-rendered="true"
             style="width: 36px; height: 36px;">
    </header>

    <!-- Page Content Holder -->
    <div class="container-fluid wrapper">
        <div class="row flex-xl-nowrap">
            <!-- Sidebar Holder -->

            @await Component.InvokeAsync(typeof(Swastika.Cms.Mvc.Areas.Portal.ViewComponents.MainSidebar))

            <!-- /.Sidebar Holder -->
            <main class="py-md-3 px-md-2 sw-content" role="main">
                <form enctype="multipart/form-data" onsubmit="return false" asp-action="@ViewContext.RouteData.Values["action"].ToString()">
                    @RenderBody()
                </form>
            </main>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/js/jquery-ui.js"></script>
    @*<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="~/lib/bootstrap-4.0.0/js/bootstrap.min.js"></script>


    <script src="~/js/portal/portal.white.js"></script>

    <script src="~/lib/ace/src/ace.js"></script>
    <script src="~/lib/ace/src/mode-csharp.js"></script>
    <script src="~/lib/ace/src/mode-razor.js"></script>
    <script src="~/lib/ace/src/mode-json.js"></script>
    <script src="~/lib/ace/src/theme-chrome.js"></script>
    <script src="~/lib/ace/src/theme-clouds_midnight.js"></script>
    <script src="~/lib/ace/src/worker-json.js"></script>
    <style>
        /* helper to ensure that razor (which is correctly detected by ACE) is also highlighted */
        .ace_razor {
            background-color: yellow;
        }

        /* make sure the highlighted text is also black, otherwise it a kind of gray */
        .ace_punctuation.ace_short.ace_razor {
            color: black;
        }

        .ace_punctuation.ace_block.ace_razor {
            color: black;
        }
    </style>
    <script src="~/lib/bootstrap4-tagsinput-4.1.2/tagsinput.js"></script>

    @*<script src="~/lib/icheck-1.x/icheck.min.js"></script>*@
    @*<script src="~/lib/select2-4.0.3/dist/js/select2.full.min.js"></script>*@

    @RenderSection("Scripts", required: false)


    <!--Datatables-->
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="~/js/portal/common.js"></script>


    <div class="modal modal-danger fade" id="modal-error">
        <div class="modal-dialog modal-lg">
            <form id="frm-data" asp-controller="ApiModule" asp-action="AjaxSaveModuleData">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Edit</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <a class="btn btn- btn-primary btn-warning" data-dismiss="modal">Close</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-default fade" id="modal-files">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-11">
                        <h2 class="modal-title">Upload file</h2>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="col-lg-4">

                                <input type="file" id="file" />
                            </div>
                        </div>
                        <div class="col-lg-2" style="margin-bottom: 10px;">
                            <a href="#" class="btn btn-success btn-block" onclick="SW.Common.loadFileStream('Images')">Submit file...</a>
                        </div>
                    </div>
                    <table class="table table-condensed">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    Folder
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    FullPath
                                </th>
                                <th>
                                    Content
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a class="btn btn- btn-primary btn-warning" data-dismiss="modal">Close</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    @RenderSection("Modals", required: false)
</body>

</html>