@using Microsoft.AspNetCore.Mvc.Localization
@inject UserManager<ApplicationUser> UserManager
@{
    ViewBag.IsAdmin = true;
}
<!doctype html>
<html lang="en">

<head>
    <title>@ViewData["Title"] - Swastika I/O</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*@
    <meta name="viewport" content="width=1920">

    <link rel="stylesheet" href="~/css/portal/portal.white.min.css">
    <link href="~/css/open-iconic/open-iconic-bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/micon/css/micon.min.css" rel="stylesheet" />

    <link href="~/lib/bootstrap4-tagsinput-4.1.2/tagsinput.css" rel="stylesheet" />

    <link href="~/lib/Trumbowyg-2.9.0/ui/trumbowyg.min.css" rel="stylesheet" />
    <link href="~/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/datatables.min.css" />
    <link href="~/lib/cropperjs-1.2.2/dist/cropper.min.css" rel="stylesheet" />

    <style>
        .sw-content {
            width: 100% !important;
        }
    </style>
    @RenderSection("Styles", required: false)
</head>

<body>
    <!-- Page Header -->
    <header class="navbar navbar-expand flex-column flex-md-row sw-navbar">
        @await Component.InvokeAsync(typeof(Swastika.Cms.Mvc.Areas.Portal.ViewComponents.HeaderNavbar))
    </header>

    <!-- Page Content Holder -->
    <div class="container-fluid wrapper">
        <div class="row flex-xl-nowrap">
            <!-- Sidebar Holder -->

            @await Component.InvokeAsync(typeof(Swastika.Cms.Mvc.Areas.Portal.ViewComponents.MainSidebar))

            <!-- /.Sidebar Holder -->
            <main class="py-md-3 px-md-2 sw-content" role="main">
                <form enctype="multipart/form-data" onsubmit="return false" asp-action="@ViewContext.RouteData.Values["action"].ToString()">
                    @RenderBody()
                </form>

                <footer class="footer">
                    <div class="container">
                        <nav>
                            <p class="copyright text-center">
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>
                                <a href="http://www.swastika.io">Swastika I/O</a>, made on Earth by humans.
                            </p>
                        </nav>
                    </div>
                </footer>
            </main>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script type="text/javascript" src="~/lib/bootstrap-4.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/js/portal/portal.white.js"></script>

    <script src="~/lib/Trumbowyg-2.9.0/trumbowyg.min.js"></script>

    <script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>

    <script type="text/javascript" src="~/lib/cropperjs-1.2.2/dist/cropper.js"></script>

    <script type="text/javascript" src="~/lib/ace/src/ace.js"></script>
    <script type="text/javascript" src="~/lib/ace/src/mode-csharp.js"></script>
    <script type="text/javascript" src="~/lib/ace/src/mode-razor.js"></script>
    <script type="text/javascript" src="~/lib/ace/src/mode-json.js"></script>
    <script type="text/javascript" src="~/lib/ace/src/theme-chrome.js"></script>
    <script type="text/javascript" src="~/lib/ace/src/theme-clouds_midnight.js"></script>
    <script type="text/javascript" src="~/lib/ace/src/worker-json.js"></script>
    <style>
        /* helper to ensure that razor (which is correctly detected by ACE) is also highlighted */
        .ace_razor {
            background-color: yellow;
        }

        /* make sure the highlighted text is also black, otherwise it a kind of gray */
        .ace_punctuation.ace_short.ace_razor {
            color: black;
        }

        .ace_punctuation.ace_block.ace_razor {
            color: black;
        }
    </style>
    <script type="text/javascript" src="~/lib/bootstrap4-tagsinput-4.1.2/tagsinput.js"></script>

    @RenderSection("Scripts", required: false)

    <!--Datatables-->
    <script type="text/javascript" src="~/js/portal/common.js"></script>

    <div class="modal modal-danger fade" id="modal-error">
        <div class="modal-dialog modal-lg">
            <form id="frm-data" asp-controller="ApiModule" asp-action="AjaxSaveModuleData">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Edit</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn- btn-primary btn-warning" data-dismiss="modal">Close</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-default fade show" id="modal-files">
        <div class="modal-dialog modal-lg modal-dialog-centered" style="max-width: 95%;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-11">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="mi mi-Media"></i> Quick media upload</h5>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body" style="height: calc(100vh - 143px);overflow-y: auto;">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-end">
                            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="input-group mr-2">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="file" id="file">
                                        <label class="custom-file-label" for="file">Choose file</label>
                                    </div>
                                </div>
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" onclick="SW.Common.loadFileStream('Images')" class="btn btn-secondary"><i class="mi mi-Upload"></i> Upload</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-lg-10">
                                <div class="col-lg-4">
                                    <input type="file" id="file" />
                                </div>
                            </div>
                            <div class="col-lg-2" style="margin-bottom: 10px;">
                                <a href="#" class="btn btn-success btn-block" onclick="SW.Common.loadFileStream('Images')">Submit file...</a>
                            </div>
                        </div>*@
                    <table class="table table-sm table-condensed">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">
                                    Folder
                                </th>
                                <th scope="col">
                                    Name
                                </th>
                                <th scope="col">
                                    FullPath
                                </th>
                                <th scope="col">
                                    Content
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                @*<div class="modal-footer">
                        <a class="btn btn- btn-primary btn-warning" data-dismiss="modal">Close</a>
                    </div>*@
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    @RenderSection("Modals", required: false)
</body>
</html>