@using Swastika.Common;
@using Swastika.IO.Cms.Lib.ViewModels;
@using Swastika.IO.Cms.Lib;
@{
    string culture = ViewBag.culture;
    var getCates = CategoryListItemViewModel.Repository.GetModelListBy
                (
                    c => c.Specificulture == culture
                        && c.Type == (int)SWCmsConstants.CateType.List
                );
    var cates = getCates.Data ?? new List<CategoryListItemViewModel>();
}
<div class="widget categories">
    <h3>@LocalizerService.GetLocalString("Categories", culture)</h3>
    <div class="row">
        <div class="col-sm-6">
            <ul class="blog_category">
                @foreach (var cate in cates)
                {
                    <li><a 
                           asp-route-culture="@ViewBag.culture" asp-controller="Home" 
                           asp-action="Home" asp-route-pageName="@cate.SeoTitle">
                        @cate.Title <span class="badge">@cate.TotalArticle</span></a></li>
                }
            </ul>
        </div>
    </div>
</div><!--/.categories-->