@model BEModuleViewModel

@{
    string img = Model != null ? Model.Image : "http://placehold.it/200x200";
    var status = Html.GetEnumSelectList<Swastika.Common.Utility.Enums.SWStatus>();
    var moduleTypes = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.ModuleType>();
    //var types = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.CateType>();
    //string img = Model != null ? Model.Image : "http://placehold.it/200x200";
}

@await Html.PartialAsync("EditableSides/_EditableSide_Actions")

<div class="card">
    <div class="card-header">
        Info
    </div>
    <div class="card-body">
        <div class="form-group">

            @{
                foreach (var stat in status)
                {

                    <div class="custom-control custom-radio">
                        <input asp-for="Status" type="radio" value="@stat.Text" class="custom-control-input" id="pageType_@stat.Value" />
                        <label class="custom-control-label" for="pageType_@stat.Value">@stat.Text</label>
                    </div>
                }
            }
            @*<span class="switch">
                    <input type="checkbox" asp-for="IsVisible" class="switch">
                    <label asp-for="IsVisible">Publish</label>
                </span>
                <span class="switch">
                        <input type="checkbox" asp-for="IsDeleted" class="switch">
                        <label asp-for="IsDeleted">Deleted</label>
                    </span>*@
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <label asp-for="Type" class="control-label"></label>
    </div>
    <div class="card-body">

        <div class="form-group">

            @*<select asp-for="Type" class="form-control" asp-items="@moduleTypes"></select>*@

            @{
                foreach (var type in moduleTypes)
                {
                    <div class="custom-control custom-radio">
                        <input asp-for="Type" type="radio" value="@type.Text" class="custom-control-input" id="pageType_@type.Text" />
                        <label class="custom-control-label" for="pageType_@type.Text">@type.Text</label>
                    </div>
                }
            }

            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
</div>
@Html.Partial("EditableSides/_EditableSide_Cultures", Model.ListSupportedCulture)
<input type="hidden" asp-for="Specificulture" />

<div class="card">
    <div class="card-header">
        Feature image
    </div>
    <div class="card-body p-0" style="background:url(/images/upload-image-thumbnail.png) no-repeat center; ">
        @*<label asp-for="Image" class="control-label"></label>*@
        <span asp-validation-for="Image" class="text-danger"></span>
        <label class="custom-file" style="min-height:150px; cursor:pointer;">
            <img src="@img" name="pic" class="custom-file-img " accept="image/*" width="100%" />
            <input type="hidden" value="MOdule/@Model.Id" class="folder-val" />
            <input type="file" name="pic" class="custom-file-input auto-upload">
            <input type="text" asp-for="Image" class="form-control custom-file-val d-none">
            @*<span class="btn btn-primary custom-file-control">Browse</span>*@
        </label>
    </div>
</div>