@model BEModuleViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    //var moduleTypes = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.ModuleType>();
    var types = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.DataType>();
    var templates = new SelectList(Model.Templates, "Filename", "Filename");
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                General
            </div>
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group ">
                    @*<label asp-for="Title" class="control-label"></label>*@
                    <input asp-for="Title" class="form-control form-control-lg" placeholder="Enter your module title here..." />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">System Module Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control  editor-content"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Module Attributes (<label asp-for="Columns" class="control-label"></label>)
                <button id="AddObject" class="btn btn-primary btn-sm float-right">@Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Add New", ViewBag.culture)</button>
            </div>
            <div class="card-body">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Specificulture" />
                <input type="hidden" asp-for="Priority" />
                <table class="table table-sm table-hover dataTable" id="Table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" width="5%">
                                <span class="oi oi-move"></span>
                            </th>
                            <th scope="col" width="5%">
                                <span class="oi oi-sort-ascending"></span>
                            </th>
                            <th scope="col">Name</th>
                            <th scope="col" width="20%">Data Type</th>
                            <th scope="col" width="5%">Width</th>
                            <th scope="col" width="5%">Display</th>
                        </tr>
                    </thead>
                    <tbody class="sortable">
                        @for (int i = 0; i < Model.Columns.Count; i++)
                        {
                            <tr class="sortable-item module-column">
                                <td style="cursor:move;">
                                    <span class="oi oi-move"></span>
                                </td>
                                <td>
                                    <input type="text" asp-for="@Model.Columns[i].Priority" class="item-priority form-control form-control-sm d-inline" style="width:40px;" />
                                </td>
                                <td>
                                    <input asp-for="@Model.Columns[i].Name" class="form-control form-control-sm" />
                                </td>
                                <td>
                                    <select asp-for="@Model.Columns[i].DataType" class="form-control form-control-sm" asp-items="@types"></select>
                                </td>
                                <td>
                                    <input asp-for="@Model.Columns[i].Width" class="form-control form-control-sm" />
                                </td>
                                <td>
                                    <span class="switch switch-sm">
                                        <input type="checkbox" class="switch" asp-for="@Model.Columns[i].IsDisplay">
                                        <label asp-for="@Model.Columns[i].IsDisplay">&nbsp;</label>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label asp-for="Template" class="control-label"></label>
    @Html.Partial("_Editor_Code", Model.View, new ViewDataDictionary(this.ViewData) { { "Files", Model.Templates }, { "Name", "View" } })
    @* <input asp-for="View.Filename" class="form-control" />

        <div class="form-control" id="code-editor" asp-for="View.Content"></div>*@
    <span asp-validation-for="Template" class="text-danger"></span>
</div>

<script>
    window.onload = function () {
        $('#AddObject').click(function () {
            var i = $(".module-column").length;
            $.ajax({
                url: '/vi-vn/Portal/Module/AddEmptyField/' + i,
                success: function (data) {
                    $('#Table > tbody').append(data);
                },
                error: function (a, b, c) {
                    alert(a + " " + b + " " + c);
                }
            });
        });

    }
</script>