@model Swastika.Cms.Lib.ViewModels.ModuleFieldViewModel
@{
    var types = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.DataType>();
}
<tr class="sortable-item module-column">
    <td style="cursor:move;" class="drag-header">
        <span class="fas fa-arrows-alt"></span>
    </td>
    <td>
        <input type="text" id="Columns_@ViewData["Index"]__Priority" name="Columns[@ViewData["Index"]].Priority" value="@Model.Priority" class="item-priority form-control form-control-sm d-inline" style="width:40px;" />
    </td>
    <td>
        <input class="form-control form-control-sm" type="text" id="Columns_@ViewData["Index"]__Name" name="Columns[@ViewData["Index"]].Name" value="@Model.Name">
    </td>
    <td>
        <select id="Columns_@ViewData["Index"]__DataType" name="Columns[@ViewData["Index"]].DataType" class="form-control form-control-sm" asp-items="@types"></select>
    </td>
    <td>
        <input class="form-control form-control-sm" type="number" id="Columns_@ViewData["Index"]__Width" name="Columns[@ViewData["Index"]].Width" value="@Model.Width">
    </td>
    <td>
        <span class="switch switch-sm">
            <input checked="checked" class="form-check"
                   data-val="@Model.IsDisplay" data-val-required="The IsDisplay field is required."
                   type="checkbox" value="@Model.IsDisplay.ToString()"
                   id="Columns_@ViewData["Index"]__IsDisplay" name="Columns[@ViewData["Index"]].IsDisplay">
            <label for="Columns_@ViewData["Index"]__IsDisplay">&nbsp;</label>
        </span>
    </td>
</tr>
