@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Swastika.IO.Cms.Lib.ViewModels.ModuleWithDataViewModel

@if (Model != null && Model.Data.TotalItems > 0)
{
    <section id="feature">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>@Model.Title</h2>
                <p class="lead">@Model.Description</p>
            </div>
            <div class="row">
                <div class="features">
                    @foreach (var item in Model.Data.Items)
                    {
                        <a href="@item.GetStringValue("Url")">
                            <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                                <div class="feature-wrap">
                                    <i class="@item.GetStringValue("Icon")"></i>
                                    <h2>@item.GetStringValue("Title")</h2>
                                    <h3>@item.GetStringValue("Description")</h3>
                                </div>
                            </div>
                            <!--/.col-md-4-->
                        </a>
                    }
                </div
            </div>
        </div>
        <!--/.container-->
    </section>
    <!--/#services-->
}



