@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Swastika.IO.Cms.Lib.ViewModels.ModuleWithDataViewModel

<style>
.recent-work-inner h3{
    font-size: 16px;
    font-weight: bold;
    color: #f5f5f5;
}
</style>
@if (Model != null && Model.Articles.TotalItems > 0)
{

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>@Model.Title</h2>
                <p class="lead">@Model.Description</p>
            </div>
            <div class="row">
                @foreach (var article in Model.Articles.Items)
                {
                    string thumb = !string.IsNullOrEmpty(article.Thumbnail) ? article.Thumbnail : article.Image;
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <a asp-action="ArticleDetails" asp-route-id="@article.Id" asp-route-SeoTitle="@article.SeoTitle">
                        <div class="recent-work-wrap" style="margin: 2px;heigh: 222px; overflow: hidden;">
                            <img class="img-responsive" src="@thumb" alt="" style="width: 95%;height: 222px;margin:auto;">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        @article.Title.Substring(0, Math.Min(article.Title.Length,15)) </h3>
                                    <p>@article.Excerpt.Substring(0, Math.Min(article.Excerpt.Length,90)) </p>
                                    <!--a class="preview" asp-controller="Home" asp-action="ArticleDetails" asp-route-id="@article.Id" asp-route-SeoTitle="@article.SeoTitle"><i class="fa fa-eye"></i> View</a-->
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                }

            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section><!--/#recent-works-->
}
















