@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Swastika.IO.Cms.Lib.ViewModels.ModuleViewModel

@if (Model != null && Model.Data.TotalItems > 0)
{

    <section id="content">
        <div class="container">
            <div class="clients-area center wow fadeInDown">
                <h2>@Model.Title</h2>
                <p class="lead">@Model.Description</p>
            </div>
            <div class="row">
                @foreach (var item in Model.Data.Items)
                {
                    <div class="col-md-4 wow fadeInDown">
                        <div class="clients-comments text-center">
                            <img src="@item.GetStringValue("Image")" class="img-circle" alt="">
                            <h3>@item.GetStringValue("Quote")</h3>
                            <h4><span>@item.GetStringValue("Name") /</span> @item.GetStringValue("Job Title")</h4>
                        </div>
                    </div>
                }

            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section><!--/#recent-works-->
}























