@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Swastika.Identity.Models.AccountViewModels
@using Swastika.Identity.Models
@using Microsoft.AspNetCore.Identity

@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    ViewData["ReturnUrl"] = "/";
    Layout = "~/Areas/Portal/Views/Shared/NowUI/_BoxLayout.cshtml";
    string returnUrl = ViewData["ReturnUrl"].ToString();
}

<div class="col-md-4 content-center">
    <div class="card card-login card-plain">
        <form asp-area="Portal" asp-controller="Auth" asp-action="Login" method="post" class="form-horizontal" autocomplete="off">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="header header-primary text-center">
                <div class="logo-container">
                    <img src="~/images/swastika-io-logo-white.svg" alt="">
                </div>
            </div>
            <div class="content">
                <div class="input-group form-group-no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                    </div>
                    <input asp-for="UserName" class="form-control" placeholder="UserName..." autocomplete="off">
                </div>
                <div class="input-group form-group-no-border input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="now-ui-icons ui-1_lock-circle-open"></i></span>
                    </div>
                    <input asp-for="Password" class="form-control" placeholder="Password..." autocomplete="off" />
                </div>
            </div>
            <div class="footer text-center">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Log in</button>
                </div>
                <div class="form-check">
                    <style>
                        .RememberMe:before {
                            background-color: white !important;
                        }
                    </style>
                    <label asp-for="RememberMe" class="form-check-label RememberMe">
                        <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                        <span class="form-check-sign"></span>
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div class="pull-left">
                <h6>
                    <a href="/vi-vn/portal/auth/register" class="link footer-link">Create Account</a>
                </h6>
            </div>
            <div class="pull-right">
                <h6>
                    <a href="#pablo" class="link footer-link">Need Help?</a>
                </h6>
            </div>
        </form>
    </div>
</div>

@*<h2>@ViewData["Title"].</h2>
    <div class="row">
        <div class="col-md-8">
            <section>
                <form asp-area="User" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Log in</button>
                        </div>
                    </div>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                </form>
            </section>
        </div>
        <div class="col-md-4">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}