<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Landing Page - Now UI Kit Pro by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--[STYLES]-->
    @RenderSection("Styles", false)
</head>

<body class="@this.ViewData["pageClass"]" ng-app="Swastika">

    <input type="hidden" id="curentLanguage" name="curentLanguage" value="@ViewBag.culture" />

    <div class="wrapper">
        @Html.Partial("../Layouts/_Top_Nav.cshtml")
        @RenderBody()
        @await Html.PartialAsync("../Layouts/_Footer.cshtml")
    </div>
    <!--[SCRIPTS]-->
    @RenderSection("Scripts", false)
</body>
</html>
