@using Swastika.Domain.Core.ViewModels;
@model PaginationModel<Swastika.Cms.Lib.ViewModels.ConfigurationViewModel>
@{
    ViewData["Title"] = "Blank Template";
    ViewData["Description"] = "Manage site navigations and menus";
    string culture = ViewContext.RouteData.Values["culture"].ToString();
    var cates = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.ConfigurationCategory>();
    //int fromValue = Model.PageIndex * @Model.PageSize + 1;
    //int toValue = fromValue + Model.PageSize;
    //int prevPage = Model.PageIndex > 0 ? Model.PageIndex - 1 : 0;
    //int nextPage = Model.PageIndex == Model.TotalPage - 1 ? Model.PageIndex : Model.PageIndex + 1;
    //toValue = toValue > Model.TotalItems ? Model.TotalItems : toValue;

}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a asp-area="Portal" asp-controller="Setting" asp-action="CreateConfiguration" class="btn btn-secondary"><i class="fas fa-plus"></i></a>
                    @*<a asp-area="Portal" asp-controller="Pages" asp-action="Index" class="btn btn-secondary"><i class="fas fa-bars"></i></a>
                        <a asp-area="Portal" asp-controller="Pages" asp-action="Draft" class="btn btn-secondary"><i class="mi mi-Paste"></i></a>*@
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">

                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#">All types</a>
                            <a class="dropdown-item" href="#">Images</a>
                            <a class="dropdown-item" href="#">Audios</a>
                            <a class="dropdown-item" href="#">Videos</a>
                            <a class="dropdown-item" href="#">Documents</a>
                            <a class="dropdown-item" href="#">Zips</a>
                            <a class="dropdown-item" href="#">Others</a>
                        </div>
                    </div>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All times
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#">Jan 2018</a>
                            <a class="dropdown-item" href="#">Dec 2017</a>
                            <a class="dropdown-item" href="#">Nov 2017</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="btnGroupAddon"><i class="mi mi-Search" style="top:0;"></i></div>
                </div>
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="btnGroupAddon">
            </div>
        </div>
    </div>
    <table class="table table-sm table-hover dataTable" cellspacing="0">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Keyword", culture)
                </th>
                <th scope="col">
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Specificulture", culture)
                </th>
                <th scope="col">
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Description", culture)
                </th>
                <th scope="col">
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Value", culture)
                </th>
                <th scope="col">
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("DataType", culture)
                </th>

                <th scope="col" width="5%">
                    Actions
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keyword)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specificulture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @{Html.RenderPartial("_ViewByFieldType",
                                                          new ViewDataDictionary(this.Vi‌​ewData) { { "DataType", item.DataType }, { "Value", item.Value } });
                        }
                    </td>
                    <td>
                        @Enum.GetName(typeof(Swastika.Cms.Lib.SWCmsConstants.DataType), item.DataType)
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                            <a asp-action="EditConfiguration" asp-route-id="@item.Keyword" class="btn btn-sm btn-light">
                                <span class="fas fa-pencil-alt text-primary"></span>
                            </a>
                            @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"> <span class="fas fa-eye"></span> </a>*@
                            @*<a asp-action="DeleteConfiguration" asp-route-id="@item.Keyword"
                                   class="btn btn-sm btn-light" data-popout="true" data-toggle="confirmation" data-singleton="true">
                                    <span class="fas fa-times text-danger"></span>
                                </a>*@

                            <button class="btn btn-light del-popover" data-toggle="popover" title="Confirmation!" data-trigger="focus" data-html="true">
                                <span class="fas fa-times text-danger"></span>
                            </button>
                            <div class="popover-body d-none">
                                <a asp-action="DeleteConfiguration" asp-route-id="@item.Keyword" class="btn btn btn-danger">Yes, I want to delete!</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
