@using Swastika.Domain.Core.ViewModels;
@model PaginationModel<Swastika.Cms.Lib.ViewModels.ConfigurationViewModel>
@{
    ViewData["Title"] = "Blank Template";
    ViewData["Description"] = "Manage site navigations and menus";
    string culture = ViewContext.RouteData.Values["culture"].ToString();
    //int fromValue = Model.PageIndex * @Model.PageSize + 1;
    //int toValue = fromValue + Model.PageSize;
    //int prevPage = Model.PageIndex > 0 ? Model.PageIndex - 1 : 0;
    //int nextPage = Model.PageIndex == Model.TotalPage - 1 ? Model.PageIndex : Model.PageIndex + 1;
    //toValue = toValue > Model.TotalItems ? Model.TotalItems : toValue;

}

<div class="box-body">
    <table class="table table-hover table-striped dataTable" cellspacing="0">
        <thead class="thead-light">
            <tr>
                <th>
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Keyword", culture)
                </th>
                <th>
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Specificulture", culture)
                </th>
                <th>
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Description", culture)
                </th>
                <th>
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Value", culture)
                </th>
                <th>
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("DataType", culture)
                </th>

                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keyword)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specificulture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @{Html.RenderPartial("_ViewByFieldType",
                  new ViewDataDictionary(this.Vi‌​ewData) { { "DataType", item.DataType }, { "Value", item.Value } });
                        }
                    </td>
                    <td>
                        @Enum.GetName(typeof(Swastika.Cms.Lib.SWCmsConstants.DataType), item.DataType)
                    </td>
                    <td>
                        <a asp-action="EditConfiguration" asp-route-id="@item.Keyword" class="btn btn-sm btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"> <span class="oi oi-eye"></span> </a>*@
                        <a asp-action="DeleteConfiguration" asp-route-id="@item.Keyword"
                           class="btn btn-sm btn-danger" data-popout="true" data-toggle="confirmation" data-singleton="true">
                            <span class="oi oi-x"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>