@using Swastika.Domain.Core.ViewModels
@model PaginationModel<Swastika.Cms.Lib.ViewModels.CultureViewModel>

@{
    ViewData["Title"] = "Cultures ";
    //Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
    string culture = ViewBag.culture;
}

<div class="box-body">
    <table class="table table-hover table-striped dataTable" cellspacing="0">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Icon", culture)
                </th>
                <th scope="col">
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Specificulture", culture)
                </th>
                <th scope="col">
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Lcid", culture)
                </th>
                <th scope="col">
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Alias", culture)
                </th>
                <th scope="col">
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("FullName", culture)
                </th>
                <th scope="col">
                    @Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Description", culture)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <i class="flag-icon @item.Icon"></i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specificulture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lcid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alias)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                            <a asp-action="EditCulture" asp-route-id="@item.Id" class="btn btn-sm btn-warning"> <span class="oi oi-pencil"></span></a>
                            @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"> <span class="oi oi-eye"></span> </a>*@
                            <a asp-action="DeleteCulture" asp-route-id="@item.Id" class="btn btn-sm btn-danger" data-popout="true" data-toggle="confirmation" data-singleton="true"> <span class="oi oi-x"></span> </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>