@model PaginationModel<InfoTemplateViewModel>
@{
    ViewData["Title"] = "Template";
    //Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
    int fromValue = Model.PageIndex * @Model.PageSize + 1;
    int toValue = fromValue + Model.PageSize - 1;
    int prevPage = Model.PageIndex > 0 ? Model.PageIndex - 1 : 0;
    int nextPage = Model.PageIndex == Model.TotalPage - 1 ? Model.PageIndex : Model.PageIndex + 1;
    toValue = toValue > Model.TotalItems ? Model.TotalItems : toValue;
    string href = string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, Url.Action());
    var folders = Enum.GetNames(typeof(Swastika.Cms.Lib.SWCmsConstants.TemplateFolderEnum)).ToList();
}
<div class="container">
    @foreach (var folder in folders)
    {
        <a asp-controller="Template" asp-action="Index" asp-route-folder="@folder"
           asp-route-templateId="@ViewContext.RouteData.Values["templateId"]"
           class="btn btn-info">
            @folder
        </a>
    }
</div>
<div class="box-body">

    <a asp-action="Create" asp-route-templateId="@ViewBag.templateId" class="btn btn-sm btn-success d-inline-block "> <i class="fa fa-plus"></i></a>
    <div class="table-responsive mailbox-messages">
        <table class="table table-hover table-striped ">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>
                        Folder
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        CreatedDate
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileFolder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileName)
                        </td>

                        <td>
                           @item.CreatedDateTime
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning d-inline-block "> <span class="oi oi-pencil"></span></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger d-inline-block" data-popout="true" data-toggle="confirmation" data-singleton="true"> <span class="oi oi-x"></span> </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- /.table -->
    </div>
    @await Html.PartialAsync("_Pagination", Model
                        , new ViewDataDictionary(this.Vi‌​ewData)
                        {
{ "PageSize", Model.PageSize}, { "PageIndex", Model.PageIndex }, { "TotalPage", Model.TotalPage } })
</div>