<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="16x16" href="@LocalizerService.GetLocalString("Favicon",ViewBag.culture,"/favicon-16x16.png")">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewData["Title"] - @LocalizerService.GetLocalString("Theme", ViewBag.culture, "Swastika - I/O")</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    @if (!string.IsNullOrEmpty(@LocalizerService.GetLocalString("GA_KEY", "vi-vn")))
    {
        <!-- Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '@LocalizerService.GetLocalString("GA_KEY", "vi-vn")', 'auto');
        ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->
    }
    <!--[STYLES]-->
    @RenderSection("Styles", false)
</head>
<body class="@this.ViewData["pageClass"]" ng-app="SwastikaClient" ng-init="initApp()"
      data-spy="scroll" data-target=".navbar-collapse">
    <div class="loader-container" ng-show="isBusy">
        <div id="loader"></div>
    </div>
    <message message="message"></message>
    <confirm message="confirmMessage"></confirm>    
    <partial name="../Layouts/_Top_Nav.cshtml" />
    <div class="wrapper">
        <partial name="../Layouts/_Header.cshtml" />
        @RenderBody()
        <partial name="../Layouts/_Footer.cshtml" />
    </div>
    <!--[SCRIPTS]-->
    <!-- TRUMBOWYG -->
    <script src="/lib/Trumbowyg-2.9.0/trumbowyg.min.js"></script>
    <script src="/lib/Trumbowyg-2.9.0/plugins/base64/trumbowyg.base64.js"></script>
    <script src="/lib/Trumbowyg-2.9.0/plugins/cleanpaste/trumbowyg.cleanpaste.js"></script>
    <script src="/lib/Trumbowyg-2.9.0/plugins/colors/trumbowyg.colors.js"></script>
    <script src="/lib/Trumbowyg-2.9.0/plugins/upload/trumbowyg.upload.js"></script>
    <script src="/lib/Trumbowyg-2.9.0/plugins/noembed/trumbowyg.noembed.js"></script>
    @*<script type="text/javascript" src="/lib/DataTables/datatables.min.js"></script>*@
    <script type="text/javascript" src="/lib/cropperjs-1.2.2/dist/cropper.js"></script>
    <script type="text/javascript" src="/lib/ace/src/ace.js"></script>
    <script type="text/javascript" src="/lib/ace/src/mode-csharp.js"></script>
    <script type="text/javascript" src="/lib/ace/src/mode-razor.js"></script>
    <script type="text/javascript" src="/lib/ace/src/mode-json.js"></script>
    <script type="text/javascript" src="/lib/ace/src/theme-chrome.js"></script>
    <script type="text/javascript" src="/lib/ace/src/theme-clouds_midnight.js"></script>
    <script type="text/javascript" src="/lib/ace/src/worker-json.js"></script>
    <script src="/lib/clipboard.js-2.0.0/dist/clipboard.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap4-tagsinput-4.1.2/tagsinput.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/js/plugins/ng-file-upload-bower-12.2.13/ng-file-upload-all.js"></script>
    <script src="/js/plugins/ng-file-upload-bower-12.2.13/ng-file-upload-shim.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-sanitize.js"></script>

    <script src="/app-client/app.js"></script>
    <script src="~/app-portal/plugins/angular-drag-and-drop-lists.min.js"></script>
    <!-- Services-->
    <script src="/app-portal/plugins/angular-local-storage.min.js"></script>
    <script src="/app-portal/pages/shared/services/auth-services.js"></script>
    <script src="/app-portal/pages/login/login-controller.js"></script>
    <script src="/app-portal/pages/shared/services/common-services.js"></script>
    <script>
        var apiKey = '@LocalizerService.GetLocalString("GG_API_KEY", ViewBag.culture as string, "AIzaSyCTDOBll7dfajw8mZ1aL4C2-KsvOY55hko")';
    </script>
    @RenderSection("Scripts", false)
</body>
</html>
