@using Swastika.Domain.Core.ViewModels;
@model PaginationModel<BELanguageViewModel>
@{
    ViewData["Title"] = "Blank Template";
    ViewData["Description"] = "Manage site navigations and menus";
    string culture = ViewContext.RouteData.Values["culture"].ToString();
    //int fromValue = Model.PageIndex * @Model.PageSize + 1;
    //int toValue = fromValue + Model.PageSize;
    //int prevPage = Model.PageIndex > 0 ? Model.PageIndex - 1 : 0;
    //int nextPage = Model.PageIndex == Model.TotalPage - 1 ? Model.PageIndex : Model.PageIndex + 1;
    //toValue = toValue > Model.TotalItems ? Model.TotalItems : toValue;

}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a asp-area="Portal" asp-controller="Language" asp-action="CreateLanguage" class="btn btn-secondary">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a asp-area="Portal" asp-controller="Language" asp-action="Languages" class="btn btn-secondary">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="btnGroupAddon"><i class="mi mi-Search" style="top:0;"></i></div>
                </div>
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="btnGroupAddon">
            </div>
        </div>
    </div>

    <table class="table table-sm table-hover dataTable" cellspacing="0">
        <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 5%;">
                    @Swastika.Cms.Lib.Services.GlobalLanguageService.Instance.GetLocalString("Specificulture", culture)
                </th>
                <th scope="col">
                    @Swastika.Cms.Lib.Services.GlobalLanguageService.Instance.GetLocalString("Keyword", culture)
                </th>
                <th scope="col">
                    @Swastika.Cms.Lib.Services.GlobalLanguageService.Instance.GetLocalString("Value", culture)
                </th>
                <th scope="col">
                    @Swastika.Cms.Lib.Services.GlobalLanguageService.Instance.GetLocalString("Description", culture)
                </th>
                <th scope="col" style="width: 10%;">
                    @Swastika.Cms.Lib.Services.GlobalLanguageService.Instance.GetLocalString("DataType", culture)
                </th>

                <th scope="col" style="width: 5%;">Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specificulture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keyword)
                    </td>
                    <td>
                        @{Html.RenderPartial("_ViewByFieldType", new ViewDataDictionary(this.Vi‌​ewData) { { "DataType", item.DataType }, { "Value", item.Value } });}
                    </td>
                    <td>
                        <small>
                            @Html.DisplayFor(modelItem => item.Description)
                        </small>
                    </td>
                    <td>
                        @Enum.GetName(typeof(Swastika.Cms.Lib.SWCmsConstants.DataType), item.DataType)
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                            <a asp-action="EditLanguage" asp-route-id="@item.Keyword" class="btn btn-sm btn-light">
                                <span class="fas fa-pencil text-primary"></span>
                            </a>
                            @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"> <span class="fas fa-eye"></span> </a>*@
                            @*<a asp-action="DeleteLanguage" asp-route-id="@item.Keyword"
                                   class="btn btn-sm btn-light" data-popout="true" data-toggle="confirmation" data-singleton="true">
                                    <span class="fas fa-times text-danger"></span>
                                </a>*@

                            <button class="btn btn-light del-popover" data-toggle="popover" title="Confirmation!" data-trigger="focus" data-html="true">
                                <span class="fas fa-times text-danger"></span>
                            </button>
                            <div class="popover-body d-none">
                                <a asp-action="DeleteLanguage" asp-route-id="@item.Keyword" class="btn btn btn-danger">Yes, I want to delete!</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</section>