<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewData["SeoDescription"]">
    <meta name="keyword" content="@ViewData["SeoKeywords"]">
    <meta name="title" content="@ViewData["SeoTitle"]">
    <title>@ViewBag.Title</title>

    <!-- core CSS -->
    <link href="/themes/corlate/css/bootstrap.min.css" rel="stylesheet">
    <link href="/themes/corlate/css/font-awesome.min.css" rel="stylesheet">
    <link href="/themes/corlate/css/animate.min.css" rel="stylesheet">
    <link href="/themes/corlate/css/prettyPhoto.css" rel="stylesheet">
    <link href="/themes/corlate/css/main.css" rel="stylesheet">
    <link href="/themes/corlate/css/main.css" rel="stylesheet">
    <link href="/css/flag-icon.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/themes/corlate/js/html5shiv.js"></script>
    <script src="/themes/corlate/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

</head>
<body>
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=464285300363325";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    @*@await Component.InvokeAsync(typeof(Swastika.Cms.Mvc.ViewComponents.HeaderNavbar))*@
    @await Html.PartialAsync("Layouts/_Header")

    @RenderBody()

    @await Html.PartialAsync("Layouts/_Footer")
    @*@await Component.InvokeAsync(typeof(Swastika.Cms.Mvc.ViewComponents.FooterNavbar))*@

    <script src="/themes/corlate/js/jquery.js"></script>
    <script src="/themes/corlate/js/bootstrap.min.js"></script>
    <script src="/themes/corlate/js/jquery.prettyPhoto.js"></script>
    <script src="/themes/corlate/js/jquery.isotope.min.js"></script>
    <script src="/themes/corlate/js/main.js"></script>
    <script src="/themes/corlate/js/wow.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>





