<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewData["SeoDescription"]">
    <meta name="keyword" content="@ViewData["SeoKeywords"]">
    <meta name="title" content="@ViewData["SeoTitle"]">
    <title>@ViewBag.Title</title>

    <!-- core CSS 
    <link href="/[AssetFolder]/css/css-file.css" rel="stylesheet">
    -->
   
</head>
<body>
    @await Html.PartialAsync("../Layouts/_Header.cshtml")

    @RenderBody()

    @await Html.PartialAsync("../Layouts/_Footer.cshtml")

    @RenderSection("Scripts", false)
</body>
</html>
