@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TTS.Lib.ViewModels.FEModuleData

@if (Model != null && Model.Articles.TotalItems > 0)
{

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>@Model.Title</h2>
                <p class="lead">@Model.Description</p>
            </div>
            <div class="row">
                @foreach (var article in Model.Articles.Items)
                {
                    string thumb = !string.IsNullOrEmpty(article.Thumbnail) ? article.Thumbnail : article.Image;
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="@thumb" alt="" style="width: 293px;height: 222px;margin:auto;">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a 
                                           asp-action="ArticleDetails" asp-route-id="@article.Id" asp-route-seoTitle="@article.Seotitle">
                                        @article.Title.Substring(0, Math.Min(article.Title.Length,15))</a> </h3>
                                    <p>@article.BriefContent.Substring(0, Math.Min(article.BriefContent.Length,90)) </p>
                                    <a class="preview" asp-controller="Home" asp-action="ArticleDetails" asp-route-id="@article.Id" asp-route-seoTitle="@article.Seotitle"><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section><!--/#recent-works-->
}





