@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Swastika.Cms.Lib.ViewModels;
@using Swastika.Cms.Lib.Repositories;
@using Microsoft.AspNetCore.Identity
@using Swastika.Cms.Lib.ViewModels
@using Swastika.Cms.Lib.ViewModels.Info
@using Swastika.Cms.Lib;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var getListAvailbleModules = Swastika.Cms.Lib.ViewModels.Info.InfoModuleViewModel.Repository.GetModelListBy(
        m => m.Specificulture == ViewContext.RouteData.Values["culture"].ToString());
    var listAvaiModule = getListAvailbleModules.Data;
    // ModuleRepository.GetInstance().GetModelListBy(m => m.Specificulture == ViewContext.RouteData.Values["culture"].ToString());
    var getAvailableCategories = Swastika.Cms.Lib.ViewModels.Info.InfoCategoryViewModel.Repository.GetModelListBy(m => m.Specificulture == ViewContext.RouteData.Values["culture"].ToString());
    var listAvaiPage = getAvailableCategories.Data;
    var listAvaiTheme = InfoThemeViewModel.Repository.GetModelList();
    //CategoryRepository.GetInstance().GetModelListBy(m => m.Specificulture == ViewContext.RouteData.Values["culture"].ToString());
    var searchTypes = new SelectList(Enum.GetNames(typeof(SWCmsConstants.SearchType)).ToList());
    var directories = FileRepository.Instance.GetTopDirectories(string.Empty);
    string searchType = ViewBag.searchKeyword;
}

<div id="sidebar" class="sw-sidebar">
    <form asp-area="Portal" asp-controller="Portal" asp-action="Search" method="post" class="sw-search d-flex align-items-center">
        <input type="search" class="form-control" id="search-input" name="keyword" placeholder="Search..." aria-label="Search for..." autocomplete="off">
        <button class="btn btn-link sw-search-docs-toggle d-md-none p-0 ml-3" type="submit" data-toggle="collapse" data-target="#sw-docs-nav"
                aria-controls="sw-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false">
                <title>Menu</title>
                <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" />
            </svg>

        </button>
    </form>


    <ul class="collapse sw-links" id="sw-docs-nav" data-children=".sw-toc-item">
        <li class="sw-toc-item">
            <a class="sw-toc-link" href="#">
                <span class="oi oi-dashboard"></span>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li class="sw-toc-item" is-active-menu asp-controllers="Articles">
            <div class="sw-toc-link" data-toggle="collapse" data-parent="#sw-docs-nav" href="#collapseArticleSubMenus" role="button" aria-expanded="false"
                 aria-controls="collapseArticleSubMenus">
                <span class="oi oi-document"></span>
                <span class="text">Articles</span>

                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <a asp-area="Portal" asp-controller="Articles" asp-action="Create" class="btn btn-light">
                        <span class="oi oi-plus"></span>
                    </a>
                    <a asp-area="Portal" asp-controller="Articles" asp-action="Index" class="btn btn-light">
                        <span class="oi oi-list"></span>
                    </a>
                    <a asp-area="Portal" asp-controller="Articles" asp-action="Draft" class="btn btn-light">
                        <span class="oi oi-clipboard"></span>
                    </a>
                </div>
            </div>
            <ul id="collapseArticleSubMenus" class="collapse list-unstyled" role="tabpanel">
                <li>
                    <a asp-area="Portal" asp-controller="Articles" asp-action="Create" class="sw-toc-sub-link">
                        <span class="oi oi-plus"></span>
                        <span class="text">Create Article</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Portal" asp-controller="Articles" asp-action="Index" class="sw-toc-sub-link">
                        <span class="oi oi-list"></span>
                        <span class="text">List Article</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Portal" asp-controller="Articles" asp-action="Draft" class="sw-toc-sub-link">
                        <span class="oi oi-clipboard"></span>
                        <span class="text">Draft</span>
                    </a>
                </li>

                <li class="hide-on-sb-inactive">
                    <div class="sw-toc-sub-link">
                        <span class="oi oi-copywriting"></span>
                        <span class="text">Article...</span>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <a class="btn btn-link">
                                <span class="oi oi-plus"></span>
                            </a>
                            <a class="btn btn-link">
                                <span class="oi oi-list"></span>
                            </a>
                            <a class="btn btn-link">
                                <span class="oi oi-pencil"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>

        </li>

        <li class="sw-toc-item" is-active-menu asp-controllers="Product">
            <div class="sw-toc-link" data-toggle="collapse" data-parent="#sw-docs-nav" href="#collapseProductSubMenus" role="button" aria-expanded="false"
                 aria-controls="collapseProductSubMenus">
                <span class="oi oi-document"></span>
                <span class="text">Product</span>

                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <a asp-area="Portal" asp-controller="Product" asp-action="Create" class="btn btn-light">
                        <span class="oi oi-plus"></span>
                    </a>
                    <a asp-area="Portal" asp-controller="Product" asp-action="Index" class="btn btn-light">
                        <span class="oi oi-list"></span>
                    </a>
                    <a asp-area="Portal" asp-controller="Product" asp-action="Draft" class="btn btn-light">
                        <span class="oi oi-clipboard"></span>
                    </a>
                </div>
            </div>
            <ul id="collapseProductSubMenus" class="collapse list-unstyled" role="tabpanel">
                <li>
                    <a asp-area="Portal" asp-controller="Product" asp-action="Create" class="sw-toc-sub-link">
                        <span class="oi oi-plus"></span>
                        <span class="text">Create Product</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Portal" asp-controller="Product" asp-action="Index" class="sw-toc-sub-link">
                        <span class="oi oi-list"></span>
                        <span class="text">List Product</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Portal" asp-controller="Product" asp-action="Draft" class="sw-toc-sub-link">
                        <span class="oi oi-clipboard"></span>
                        <span class="text">Draft</span>
                    </a>
                </li>

                <li class="hide-on-sb-inactive">
                    <div class="sw-toc-sub-link">
                        <span class="oi oi-copywriting"></span>
                        <span class="text">Product...</span>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <a class="btn btn-link">
                                <span class="oi oi-plus"></span>
                            </a>
                            <a class="btn btn-link">
                                <span class="oi oi-list"></span>
                            </a>
                            <a class="btn btn-link">
                                <span class="oi oi-pencil"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>

        </li>

        <li class="sw-toc-item" is-active-route asp-controller="Pages" asp-action="Create">
            <div class="sw-toc-link" data-toggle="collapse" data-parent="#sw-docs-nav" href="#collapsePageSubMenus" role="button" aria-expanded="false"
                 aria-controls="collapsePageSubMenus">
                <span class="oi oi-browser"></span>
                <span class="text">Pages</span>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <a asp-area="Portal" asp-controller="Pages" asp-action="Create" class="btn btn-light">
                        <span class="oi oi-plus"></span>
                    </a>
                    <a asp-area="Portal" asp-controller="Pages" asp-action="" class="btn btn-light">
                        <span class="oi oi-list"></span>
                    </a>
                    <a asp-area="Portal" asp-controller="Pages" asp-action="" class="btn btn-light">
                        <span class="oi oi-clipboard"></span>
                    </a>
                </div>
            </div>
            <ul id="collapsePageSubMenus" class="collapse list-unstyled" role="tabpanel">
                <li>
                    <a asp-area="Portal" asp-controller="Pages" asp-action="Create" class="sw-toc-sub-link">
                        <span class="oi oi-plus"></span>
                        <span class="text">Create Page</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Portal" asp-controller="Pages" asp-action="" class="sw-toc-sub-link">
                        <span class="oi oi-list"></span>
                        <span class="text">List Article</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Portal" asp-controller="Pages" asp-action="" class="sw-toc-sub-link">
                        <span class="oi oi-pencil"></span>
                        <span class="text">Draft</span>
                    </a>
                </li>


                @foreach (var cate in listAvaiPage)
                {
                    <li class="hide-on-sb-inactive" is-active-menu asp-controllers="Pages" asp-action="AddData,EditData,Contents,Edit" asp-route-id="@cate.Id">
                        <div class="sw-toc-sub-link">
                            <span class="oi oi-fork"></span>
                            <span class="text">@cate.Title</span>
                            @if (cate.Type == SWCmsConstants.CateType.List || cate.Type== SWCmsConstants.CateType.ListProduct)
                            {
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <a asp-area="Portal" asp-controller="Articles" asp-action="Create" asp-route-categoryId="@cate.Id" class="btn btn-link">
                                        <span class="oi oi-plus"></span>
                                    </a>
                                    <a asp-area="Portal" asp-controller="Pages" asp-action="Contents" asp-route-id="@cate.Id" asp-route-pagename="@cate.SeoName" class="btn btn-link">
                                        <span class="oi oi-list"></span>
                                    </a>
                                    <a asp-area="Portal" asp-controller="Pages" asp-action="Edit" asp-route-id="@cate.Id" asp-route-pageName="@cate.SeoName" class="btn btn-link">
                                        <span class="oi oi-pencil"></span>
                                    </a>
                                </div>
                            }
                            else
                            {

                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <a asp-area="Portal" asp-controller="Pages" asp-action="Edit" asp-route-id="@cate.Id" asp-route-pageName="@cate.SeoName" class="btn btn-link">
                                        <span class="oi oi-pencil"></span>
                                    </a>
                                </div>
                            }
                        </div>
                    </li>
                }

            </ul>
        </li>

        <li class="sw-toc-item" is-active-menu asp-controllers="Module">
            <div class="sw-toc-link" data-toggle="collapse" data-parent="#sw-docs-nav" href="#collapseModuleSubMenus" aria-expanded="false"
                 aria-controls="collapseModuleSubMenus">
                <span class="oi oi-puzzle-piece"></span>
                <span class="text">Modules</span>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <a is-active-route asp-controller="Module" asp-action="Create" class="btn btn-light">
                        <span class="oi oi-plus"></span>
                    </a>
                    <a asp-area="Portal" asp-controller="Module" asp-action="Index" class="btn btn-light">
                        <span class="oi oi-list"></span>
                    </a>
                    <a class="btn btn-light">
                        <span class="oi oi-clipboard"></span>
                    </a>
                </div>
            </div>
            <ul id="collapseModuleSubMenus" class="collapse list-unstyled">
                <li>
                    <a is-active-route asp-controller="Module" asp-action="Create" class="sw-toc-sub-link">
                        <span class="oi oi-plus"></span>
                        <span class="text">Create Module</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Portal" asp-controller="Module" asp-action="Index" class="sw-toc-sub-link">
                        <span class="oi oi-list"></span>
                        <span class="text">List Module</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="sw-toc-sub-link">
                        <span class="oi oi-clipboard"></span>
                        <span class="text">Draft</span>
                    </a>
                </li>
                @foreach (var module in listAvaiModule)
                {
                    <li class="hide-on-sb-inactive">
                        <div class="sw-toc-sub-link">
                            <span class="oi oi-puzzle-piece"></span>
                            <span class="text">@module.Title</span>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <a asp-area="Portal" asp-controller="Module" asp-action="AddModuleData" asp-route-id="@module.Id" class="btn btn-link">
                                    <span class="oi oi-plus"></span>
                                </a>
                                <a asp-area="Portal" asp-controller="Module" asp-action="Details" asp-route-id="@module.Id" class="btn btn-link">
                                    <span class="oi oi-list"></span>
                                </a>
                                <a asp-area="Portal" asp-controller="Module" asp-action="Edit" asp-route-id="@module.Id" class="btn btn-link">
                                    <span class="oi oi-pencil"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </li>
        <li class="sw-toc-item">
            <div class="sw-toc-link" data-toggle="collapse" data-parent="#sw-docs-nav" href="#collapseAppearanceSubMenus" aria-expanded="false"
                 aria-controls="collapseAppearanceSubMenus">
                <span class="oi oi-brush"></span>
                <span class="text">Themes</span>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <a asp-area="Portal" asp-controller="Theme" asp-action="Create" class="btn btn-light">
                        <span class="oi oi-plus"></span>
                    </a>
                    <a asp-area="Portal" asp-controller="Theme" asp-action="Index" class="btn btn-light">
                        <span class="oi oi-list"></span>
                    </a>
                </div>
            </div>
            <ul id="collapseAppearanceSubMenus" class="collapse list-unstyled">
                <li>
                    <a asp-area="Portal" asp-controller="Theme" asp-action="Create" class="sw-toc-sub-link">
                        <span class="oi oi-plus"></span>
                        <span class="text">Create Theme</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Portal" asp-controller="Theme" asp-action="Index" class="sw-toc-sub-link">
                        <span class="oi oi-list"></span>
                        <span class="text">List Theme</span>
                    </a>
                </li>

                @foreach (var item in listAvaiTheme.Data)
                {
                    string fileFolder = string.Format("Templates/{0}", item.Name);
                    string filesUrl = Url.RouteUrl("File", new { culture = ViewBag.culture, folder = fileFolder });
                    <li class="hide-on-sb-inactive" is-active-menu asp-controllers="Theme" asp-action="AddData,EditData,Contents,Edit" asp-route-id="@item.Id">
                        <div class="sw-toc-sub-link">
                            <span class="oi oi-layers"></span>
                            <span class="text">@item.Name</span>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <a asp-controller="Template" asp-action="Index" asp-route-folder="Layouts" asp-route-templateId="@item.Id" class="btn btn-link">
                                    <span class="oi oi-brush"></span>
                                </a>
                                <a href="@filesUrl" class="btn btn-link">
                                    <span class="oi oi-file"></span>
                                </a>
                                <a asp-area="Portal" asp-controller="Theme" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link">
                                    <span class="oi oi-pencil"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </li>
        <li class="sw-toc-item">
            <div class="sw-toc-link" data-toggle="collapse" data-parent="#sw-docs-nav" href="#collapseFileSubMenus" aria-expanded="false"
                 aria-controls="collapseFileSubMenus">
                <span class="oi oi-image"></span>
                <span class="text">Medias</span>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <a class="btn btn-light">
                        <span class="oi oi-image"></span>
                    </a>
                    <a class="btn btn-light">
                        <span class="oi oi-file"></span>
                    </a>
                </div>
            </div>
            <ul id="collapseFileSubMenus" class="collapse list-unstyled">
                <li>
                    <a href="#" class="sw-toc-sub-link">
                        <span class="oi oi-image"></span>
                        <span class="text">Medias</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Portal" asp-controller="File" asp-action="Index" class="sw-toc-sub-link">
                        <span class="oi oi-file"></span>
                        <span class="text">Files</span>
                    </a>
                </li>
                @foreach (var folder in directories)
                {
                    string dirPath = string.Format("/{0}", folder);
                    string href = Url.RouteUrl("File", new { culture = ViewBag.culture, folder = dirPath });
                    <li>
                        <a href="@href" class="sw-toc-sub-link">
                            <span class="oi oi-folder"></span>
                            <span class="text">@folder</span>
                        </a>
                    </li>
                }
            </ul>
        </li>
        <li class="sw-toc-item">
            <div class="sw-toc-link" data-toggle="collapse" data-parent="#sw-docs-nav" href="#collapseSettingSubMenus" aria-expanded="false"
                 aria-controls="collapseSettingSubMenus">
                <span class="oi oi-wrench"></span>
                <span class="text">Settings</span>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <a class="btn btn-light">
                        <span class="oi oi-list"></span>
                    </a>
                    <a class="btn btn-light">
                        <span class="oi oi-globe"></span>
                    </a>
                </div>
            </div>
            <ul id="collapseSettingSubMenus" class="collapse list-unstyled">
                <li class="">
                    <div class="sw-toc-sub-link">
                        <span class="oi oi-list"></span>
                        <span class="text">Configurations</span>

                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <a asp-area="Portal" asp-controller="Setting" asp-action="CreateConfiguration" class="btn btn-link">
                                <span class="oi oi-plus"></span>
                            </a>
                            <a asp-area="Portal" asp-controller="Setting" asp-action="Configurations" class="btn btn-link">
                                <span class="oi oi-list"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="sw-toc-sub-link">
                        <span class="oi oi-globe"></span>
                        <span class="text">Cultures</span>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <a asp-area="Portal" asp-controller="Culture" asp-action="Create" class="btn btn-link">
                                <span class="oi oi-plus"></span>
                            </a>
                            <a asp-area="Portal" asp-controller="Culture" asp-action="Index" class="btn btn-link">
                                <span class="oi oi-list"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="sw-toc-item"></li>
        <li class="sw-toc-item"></li>
    </ul>
</div>

