@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Swastika.IO.Cms.Lib.ViewModels.FEArticleData

@if (Model != null)
{
    <section id="blog" class="container">
        <div class="center">
            <h2>@Model.Title</h2>
            <p class="lead">@Model.Excerpt</p>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-item">
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <img class="img-responsive img-blog" src="@Model.Image" width="100%" alt="" />
                        }
                        <div class="row">

                            <!--div class="col-xs-12 col-sm-2 text-center">
                                <div class="entry-meta">
                                    <span id="publish_date">@Model.CreatedDate.ToString("dd MMM")</span>
                                    <span><i class="fa fa-user"></i> @Model.CreatedBy</span>
                                    <span><i class="fa fa-comment"></i> 
                                    <script>document.write("<span class=\"fb- comments - count\" data-href=\"" + document.URL+"\">0</span>")</script>
                                    Comments</span>
                                </div>
                            </div-->
                            <div class="col-xs-12 col-sm-12 blog-content" style="text-align: justify;">
                                @Html.Raw(Model.FullContent)

                            </div>
                        </div>
                    </div><!--/.blog-item-->

                    @foreach (var childModule in Model.Modules)
                    {

                        Html.RenderPartial(childModule.Module.Template, childModule.Module);

                    }

                    @Html.Partial("_Comments_Facebook")
                </div><!--/.col-md-8-->
                <!--aside class="col-md-4">

                    @await Html.PartialAsync("Widgets/_Tags", Model
                , new ViewDataDictionary(this.Vi‌​ewData)
                {
                    { "Tags", Model.Tags} })
                </aside-->

            </div><!--/.row-->


        </div><!--/.blog-->

    </section>


}























































































































































































































































