@model TTS.Lib.ViewModels.FEHomeData
@{
    var listTags = Model.Articles.Items.Where(a => !string.IsNullOrEmpty(a.Tags)).Select(a => a.Tags).ToList();
    string tags = string.Empty;
    if (listTags.Count > 0)
    {
        for (int i = 0; i < listTags.Count; i++)
        {
            tags += listTags[i] + ",";
        }
    }
    string culture = ViewBag.culture;
}
<section id="blog" class="container">
    <div class="center">
        <h2>@Model.Title</h2>
        <p class="lead">@Model.Description</p>
    </div>

    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                @foreach (var article in Model.Articles.Items)
                {
                    string thumb = !string.IsNullOrEmpty(article.Thumbnail) ? article.Thumbnail : article.Image;
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 text-center">
                                <div class="entry-meta">
                                    <span id="publish_date">@article.CreatedDate.ToString("dd MMM")</span>
                                    <span><i class="fa fa-user"></i> <a href="#">@article.CreatedBy</a></span>
                                    @*<span><i class="fa fa-comment"></i> <a href="blog-item.html#comments">2 Comments</a></span>
                                        <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>*@
                                </div>
                            </div>

                            <div class="col-sm-10 blog-content">
                                <a asp-action="ArticleDetails" asp-route-id="@article.Id" asp-route-seoTitle="@article.Seotitle">
                                    <img class="img-responsive img-blog" src="@thumb" width="100%" alt="" />
                                </a>
                                <h2>
                                    <a asp-action="ArticleDetails" asp-route-id="@article.Id" asp-route-seoTitle="@article.Seotitle">
                                        @article.Title
                                    </a>
                                </h2>
                                <h3>
                                    @article.BriefContent
                                </h3>
                                <a class="btn btn-primary readmore"
                                   asp-action="ArticleDetails" asp-route-id="@article.Id" asp-route-seoTitle="@article.Seotitle">
                                    @LocalizerService.GetLocalString("Read More", culture) <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
                <!--/.blog-item-->
                @if (Model.Articles.TotalPage > 1)
            {

                    <ul class="pagination pagination-lg">
                        <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Page</a></li>
                        @for (int i = 0; i < Model.Articles.TotalPage; i++)
                        {
                            string cl = Model.Articles.PageIndex == i ? "active" : string.Empty;
                            <li class="@cl">
                                <a asp-controller="Home" asp-action="List" asp-route-pageIndex="@i">@i</a>
                            </li>
                        }

                        <li><a href="#">Next Page<i class="fa fa-long-arrow-right"></i></a></li>
                    </ul><!--/.pagination-->
                }
            </div><!--/.col-md-8-->
            <aside class="col-md-4">
                @Html.Partial("Widgets/_Categories")

                @await Html.PartialAsync("Widgets/_Tags", new ViewDataDictionary(this.Vi‌​ewData)
                {
                    { "Tags", tags} })
            </aside>
        </div><!--/.row-->
    </div>
</section><!--/#blog-->