@using Swastika.Common;
@using Swastika.Cms.Lib.ViewModels.FrontEnd;
@using Swastika.Cms.Lib;
@{
    string culture = ViewBag.culture;
    var cates = FECategoryViewModel.Repository.GetModelListBy
                (c=>c.Type== (int) SWCmsConstants.CateType.List && c.Specificulture== culture
                ).Data;
}
<div class="widget categories">
    <h3>@LocalizerService.GetLocalString("Categories", culture)</h3>
    <div class="row">
        <div class="col-sm-6">
            <ul class="blog_category">
                @foreach (var cate in cates)
                {
                    <li><a 
                           asp-route-culture="@ViewBag.culture" asp-controller="Home" 
                           asp-action="Home" asp-route-pageName="@cate.SeoTitle">
                        @cate.Title <span class="badge">@cate.Articles.TotalItems</span></a></li>
                }
            </ul>
        </div>
    </div>
</div><!--/.categories-->