@model Swastika.IO.Cms.Lib.ViewModels.CategoryFEViewModel
@{
    ViewData["Title"] = Model.SeoTitle;
    Layout = "~/Views/Shared/_Layout_Corlate.cshtml";
    
}

<section id="blog" class="container">
    <div class="center">
        <h2>@Model.Title</h2>
        <p class="lead">@Model.Excerpt</p>
    </div>

    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-item">
                    @if (!string.IsNullOrEmpty(Model.Image))
                    {
                <img class="img-responsive img-blog w-100" src="@Model.Image" alt="" />
                    }
                    <div class="row">
                        @*<div class="col-xs-12 col-sm-2 text-center">
                                <div class="entry-meta">
                                    <span id="publish_date">07  NOV</span>
                                    <span><i class="fa fa-user"></i> <a href="#"> John Doe</a></span>
                                    <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments">2 Comments</a></span>
                                    <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
                                </div>
                            </div>*@
                        <div class="col-xs-12 col-sm-12 blog-content">
                            @Html.Raw(Model.Content)

                        </div>
                    </div>
                </div><!--/.blog-item-->
                @*@Html.Partial("_Comments")*@

            </div><!--/.col-md-8-->
            <aside class="col-md-4">

                <div class="widget categories">
                    <h3>Recent Comments</h3>
                    @Html.Partial("_Comments_Facebook")
                </div><!--/.recent comments-->
               

            </aside>

        </div><!--/.row-->

    </div><!--/.blog-->

</section><!--/#blog-->
