@model Swastika.IO.Cms.Lib.ViewModels.CategoryFEViewModel

@{
    ViewData["Title"] = Model.SeoTitle;
    Layout = "~/Views/Shared/_Layout_Corlate.cshtml";
}

<section id="blog" class="container">
    <div class="center">
        <h2>@Model.Title</h2>
        <p class="lead">@Model.Description</p>
    </div>

    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                @foreach (var article in Model.Articles.Items)
            {
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 text-center">
                                <div class="entry-meta">
                                    <span id="publish_date">@article.CreatedDate.ToString("dd MMM")</span>
                                    <span><i class="fa fa-user"></i> <a href="#">@article.CreatedBy</a></span>
                                    @*<span><i class="fa fa-comment"></i> <a href="blog-item.html#comments">2 Comments</a></span>
                                        <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>*@
                                </div>
                            </div>

                            <div class="col-sm-10 blog-content">
                                <a asp-action="ArticleDetails" asp-route-id="@article.Id" asp-route-SeoTitle="@article.SeoTitle">
                                <img class="img-responsive img-blog" src="@article.Image" width="100%" alt="" /></a>
                                <h2><a asp-action="ArticleDetails" asp-route-id="@article.Id" asp-route-SeoTitle="@article.SeoTitle">
                                    @article.Title</a></h2>
                                <h3>
                                    @article.Excerpt
                                </h3>
                                <a class="btn btn-primary readmore" 
                                   asp-action="ArticleDetails" asp-route-id="@article.Id" asp-route-SeoTitle="@article.SeoTitle">
                                Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
                <!--/.blog-item-->
            @if (Model.Articles.TotalPage > 1)
            {

                <ul class="pagination pagination-lg">
                    <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Page</a></li>
                    @for (int i = 0; i < Model.Articles.TotalPage; i++)
                    {
                        string cl = Model.Articles.PageIndex == i ? "active" : string.Empty;
                        <li class="@cl">
                            <a asp-controller="Home" asp-action="List" asp-route-pageIndex="@i">@i</a>
                        </li>
                    }

                    <li><a href="#">Next Page<i class="fa fa-long-arrow-right"></i></a></li>
                </ul><!--/.pagination-->
            }
            </div><!--/.col-md-8-->
            <aside class="col-md-4">
                    <div class="widget categories">
                        <h3>Recent Comments</h3>
                        @Html.Partial("_Comments_Facebook")
                    </div><!--/.recent comments-->


                    <div class="widget categories">
                        <h3>Categories</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="blog_category">
                                    <li><a href="#">Computers <span class="badge">04</span></a></li>
                                    <li><a href="#">Smartphone <span class="badge">10</span></a></li>
                                    <li><a href="#">Gedgets <span class="badge">06</span></a></li>
                                    <li><a href="#">Technology <span class="badge">25</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/.categories-->

                    <div class="widget archieve">
                        <h3>Archieve</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="blog_archieve">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> December 2013 <span class="pull-right">(97)</span></a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> November 2013 <span class="pull-right">(32)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> October 2013 <span class="pull-right">(19)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> September 2013 <span class="pull-right">(08)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/.archieve-->

                    <div class="widget tags">
                        <h3>Tag Cloud</h3>
                        <ul class="tag-cloud">
                            <li><a class="btn btn-xs btn-primary" href="#">Apple</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Barcelona</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Office</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Ipod</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Stock</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Race</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">London</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Football</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Porche</a></li>
                            <li><a class="btn btn-xs btn-primary" href="#">Gadgets</a></li>
                        </ul>
                    </div><!--/.tags-->

                    <div class="widget blog_gallery">
                        <h3>Our Gallery</h3>
                        <ul class="sidebar-gallery">
                            <li><a href="#"><img src="/themes/corlate/images/blog/gallery1.png" alt="" /></a></li>
                            <li><a href="#"><img src="/themes/corlate/images/blog/gallery2.png" alt="" /></a></li>
                            <li><a href="#"><img src="/themes/corlate/images/blog/gallery3.png" alt="" /></a></li>
                            <li><a href="#"><img src="/themes/corlate/images/blog/gallery4.png" alt="" /></a></li>
                            <li><a href="#"><img src="/themes/corlate/images/blog/gallery5.png" alt="" /></a></li>
                            <li><a href="#"><img src="/themes/corlate/images/blog/gallery6.png" alt="" /></a></li>
                        </ul>
                    </div><!--/.blog_gallery-->
                </aside>
        </div><!--/.row-->
    </div>
</section><!--/#blog-->
